
 
<script>



function clickEventHandlerHomeView(e){
  if (e.target.matches("#test_home_btn") ){
    // console.log("test_home_btn")
    
     
  }
   
 

};








function inputEventHandlerHomeView(e){
  if (e.target.matches('#filter_amphoe_home')){
    // console.log("filter_amphoe_home")
    setFilterTableHome(e)
  }
  if (e.target.matches('#filter_date_home')){
    // console.log("filter_date_home")
    setFilterDateAppointHome(e)
  }
  if (e.target.matches('#search_home')){
    // console.log("search_home")
    searchCidHome(e)
      
  }

   

};


 









document.getElementById('home_view').addEventListener("click", clickEventHandlerHomeView)
// document.getElementById('home_view').addEventListener("input", inputEventHandlerHomeView)



</script>



