<script>



function inputEventHandlerAppointmentView(e){
  if (e.target.matches("#appointdatefilter_table_appointment")){
    console.log(e.target.value)
    elements.tableAppointment.setFilter([[
      {field:"appointDate", type:"=", value:e.target.value},
      
    ]])
      
  }
  if (e.target.matches("#datefilter_table_appointment") || e.target.matches("#search_input_table_appointment") ){
    // const searchInput = e.target.value
    // console.log(searchInput)
    searchTableAppointment();

  }
  if (e.target.matches("#filtertype_table_appointment") ){
    if( e.target.value == 1 ){
        document.getElementById("datefilter_table_appointment").value = getCurrentDate(); 
        document.getElementById('datefilter_table_appointment').setAttribute("disabled", "value") 
        searchTableAppointment();

    } else if( e.target.value == 2) {
        document.getElementById('datefilter_table_appointment').removeAttribute("disabled")
        document.getElementById('datefilter_table_appointment').value = ""
        searchTableAppointment();
        
    } else if( e.target.value == 3) {
        document.getElementById('datefilter_table_appointment').setAttribute("disabled", "value")
        document.getElementById('datefilter_table_appointment').value = ""
        searchTableAppointment();

    }

  }
  


};



 









document.getElementById("appointment_view").addEventListener("input",inputEventHandlerAppointmentView);






</script>



