<script>

  function clickEventHandlerRegistrationView(e){
    if (e.target.matches("#refresh_table_ptresgist_btn") ){
        // console.log('refresh_table_ptresgist_btn')
        workingStart('กำลังโหลดข้อมูล');
        getDataPatientRegist();
        getDataOpdVisits();
    }

  };



  function clickEventHandlerSendPatientModal(e){
    if (e.target.matches("#send_treat_room_btn") ){
      if( document.getElementById('patient_fname_sendroom').textContent == "" || document.getElementById('patient_lname_sendroom').textContent == "" ){
        Swal.fire({ icon:'error', title:'ไม่ถูกต้อง', html:"<h5 align='center'>ไม่พบรายชื่อ</h5>"});

      } else if( document.getElementById('target_room').value == "" || document.getElementById('target_doctor').value == "" ){
        Swal.fire({ icon:'error', title:'ไม่ถูกต้อง', html:"<h5 align='center'>กรุณาเลือกห้องและแพทย์</h5>"});

      } else {
        sendPatientToTreat();

      }
      
    }
    if (e.target.matches("#change_treat_room_btn") ){
      // const targetRoom = document.getElementById('target_room').value 
      // console.log(targetRoom)
      // const targetDoctor = document.getElementById('target_doctor').value
      // console.log(targetDoctor)

      // Assuming 'elements["target_room"]' is id your Choices.js instance
      const choicesInstanceRoom = elements["target_room"];
      const choicesInstanceDoctor = elements["target_doctor"];

      // get value of Choice js getchoicevalue getvalue of choice
      // Get the selected value from the Choices.js instance
      const selectedValueRoom = choicesInstanceRoom.getValue(true);  // Passing true returns the value(s) as a string or array
      console.log(selectedValueRoom);

      const selectedValueDoctor = choicesInstanceDoctor.getValue(true);  // Passing true returns the value(s) as a string or array
      console.log(selectedValueDoctor);


      if( document.getElementById('patient_fname_sendroom').textContent == "" || document.getElementById('patient_lname_sendroom').textContent == "" ){
        Swal.fire({ icon:'error', title:'ไม่ถูกต้อง', html:"<h5 align='center'>ไม่พบรายชื่อ</h5>"});

      } else if( selectedValueRoom == "" || selectedValueDoctor == "" ){
        Swal.fire({ icon:'error', title:'ไม่ถูกต้อง', html:"<h5 align='center'>กรุณาเลือกห้องและแพทย์</h5>"});

      } else {
        loadingStart()
        editSendTreatRoom();

      }
      
    }
    

  };
 

  // เปลี่ยนห้องตรวจ
  function editSendTreatRoom(){
    const patientId = document.getElementById('patient_id_sendroom').textContent 
    const opdVisitId = document.getElementById('oldvisit_id_sendroom').textContent

    // ส่งไปหลังบ้าน
    const opdVisitInfo = {}
      opdVisitInfo.roomName = document.getElementById("target_room").value
      opdVisitInfo.doctorName = document.getElementById("target_doctor").value
    
    google.script.run.withSuccessHandler((res)=>{ 
      console.log(res)
      
      elements.tablePending.updateData([{opdVisitId:opdVisitId, roomName:opdVisitInfo.roomName, doctorName:opdVisitInfo.doctorName }]); 

      workingEnd('สำเร็จ')

      closeTreatView();

      let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('send_patient_modal')) // Returns a Bootstrap modal instance
      // Show or hide:
      // modal.show(); 
      modal.hide();


    }).editSendTreatRoom(opdVisitId,opdVisitInfo) 

  };





  
 

  



  function inputEventHandlerRegistrationView(e){
    // if (e.target.matches("#filtertype_table_patient_regist")){
    //   console.log(e.target.value)
      
       
    // }
    if (e.target.matches("#datefilter_table_patient_regist")){
      // console.log(e.target.value)
      searchTablePatientRegist();
      // elements.tablePatientRegist.setFilter([[
      //   {field:"dateStamp", type:"=", value:e.target.value},
        
      // ]])
       
    }
    
    if (  e.target.matches("#search_input_table_patient_regist") ){
      const searchInput = e.target.value
      searchTablePatientRegist(searchInput);

    }
    if (e.target.matches("#filtertype_table_patient_regist") ){
     
      console.log(e.target.value)
      if( e.target.value == "today" ){
          document.getElementById('datefilter_table_patient_regist').value = getCurrentDate(); 
          document.getElementById('datefilter_table_patient_regist').setAttribute("disabled", "value") 
          searchTablePatientRegist();

      } else if( e.target.value == "specific") {
          document.getElementById('datefilter_table_patient_regist').removeAttribute("disabled")
          document.getElementById('datefilter_table_patient_regist').value = ""
          searchTablePatientRegist();
          
      } else if( e.target.value == "all") {
          document.getElementById('datefilter_table_patient_regist').setAttribute("disabled", "value")
          document.getElementById('datefilter_table_patient_regist').value = ""
          searchTablePatientRegist();

      }

    }
    
    
     
  
  };




   




 

  
  
  document.getElementById('registration_view').addEventListener("click", clickEventHandlerRegistrationView)
  document.getElementById('send_patient_modal').addEventListener("click", clickEventHandlerSendPatientModal)
  document.getElementById("registration_view").addEventListener("input",inputEventHandlerRegistrationView);




</script>




