<script>

  

function openModalPatientMenu(patientId){
  // console.log("openModalPatientMenu")
  let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('patient_menu_modal')) // Returns a Bootstrap modal instance
  // Show or hide:
  modal.show();
  // modal.hide();

  const patientRegistInfo = elements.tablePatientRegist.getRow(patientId).getData();
  console.log(patientRegistInfo)
  const hn = patientRegistInfo.incrementHn
  const cid = patientRegistInfo.cid

  document.getElementById("fullname_patient_menu").textContent = patientRegistInfo.identityData.firstName + " " + patientRegistInfo.identityData.lastName

  document.getElementById("pid_patient_menu").textContent = patientId
  document.getElementById("hn_patient_menu").textContent = hn
  // document.getElementById("vid_patient_menu").textContent = vid
  document.getElementById("cid_patient_menu").textContent = cid || "";
  
  



};




// ค้นหาเลขที่จัดฟัน
function searchOrthoNumber(){
  // console.log("searchOrthoNumber")
  if( document.getElementById('orthonumber_pt_regist').value != ""){
    alert("มีเลขจัดฟันแล้ว")

  } else {
    document.getElementById('spinner_search_ortho_num').classList.remove("d-none")
    document.getElementById('loading_text_search_ortho_num').classList.remove("d-none")

    document.getElementById('text_search_ortho_num').classList.add("d-none")

    google.script.run.withSuccessHandler((res)=>{
      console.log(res)
      document.getElementById('orthonumber_pt_regist').value = res

      document.getElementById('spinner_search_ortho_num').classList.add("d-none")
      document.getElementById('loading_text_search_ortho_num').classList.add("d-none")

      document.getElementById('text_search_ortho_num').classList.remove("d-none")

    }).searchOrthoNumber()

  }

};




function getDataPatientRegist() {
  return new Promise((resolve, reject) => {
    google.script.run.withSuccessHandler((output) => {
      // console.log("PatientRegistInfo",output);

      showTablePatientsRegist(output);

      loadingEnd();

      resolve(output);

    }).withFailureHandler((error) => {
      console.error(error);
      reject(error);

    }).getDataPatientRegist();
  });
}








// ค้นหาทั้งตาราง PatientRegist
function searchTablePatientRegist(){
  // console.log('search_TablePatientRegist')

  const filterType = document.getElementById("filtertype_table_patient_regist").value

  let dateInput;

  // Get the input element
  const dateElement = document.getElementById('datefilter_table_patient_regist');

  // Check conditions
  if ( filterType == 'today') {
      // Condition 1: If the input is disabled, use the current date
      dateInput = getCurrentDate();
  } else if ( filterType == 'all' ) {
      // Condition 2: If the input is not disabled but empty, use a default date (or handle as needed)
      dateInput = ""; // Default date (example)
  } else {
      // Condition 3: If the input is not disabled and has a value, use its current value
      dateInput = dateElement.value;
  }

  // console.log(dateInput)


  // const currentSearchInput = document.getElementById("searchinput_openvisit").value.trim()
  // const currentSearchInput = document.getElementById("search_input_table_patient_regist").value.trim()
  
  // if ( currentSearchInput === ""){
  //   elements.tablePatientRegist.setFilter([[
  //     {field:"patientId", type:"=", value:"xxxx"},
      
  //   ]])

  // } else {

  //   // ค้นหาทั้งตาราง
  //   elements.tablePatientRegist.setFilter([[
  //     {field:"fullNameSearch",type: "like",value: currentSearchInput}, // or
  //     {field:"firstName",type: "like",value: currentSearchInput}, // or
  //     {field:"lastName",type: "like",value: currentSearchInput}, // or
  //     {field:"incrementHn",type: "like",value: currentSearchInput}, // or
  //     {field:"cid",type: "like",value: currentSearchInput}, // or

  //   ]])
  // }


  const searchInput = document.getElementById('search_input_table_patient_regist').value.trim().replace(/\s\s+/g, ' ');
  // console.log(searchInput);
  // Removes spaces from the beginning and end of the input and between word
  // " John   Doe   Smith "  i want this  "John Doe Smith"


  // ค้นหาทั้งตาราง searchtable
  elements.tablePatientRegist.setFilter([
    {field:"dateRegist",type: "like",value: dateInput}, // search with and
    {field:"dateRegist",type: "!=",value:""}, // search with and
    [
      {field:"hn",type: "like",value: searchInput}, // or
      {field:"cid",type: "like",value: searchInput}, // or
      {field:"firstName",type: "like",value: searchInput}, // or
      {field:"lastName",type: "like",value: searchInput}, // or
      {field:"fullNameSearch",type: "like",value: searchInput}, // or
      // {field:"fullName",type: "like",value: searchInput}, // or

    ]
  ]);

  try {
    
    showSideBarStatusForPatientRegist()


  } catch(er){
    // กรณีเกิด run function showSideBarStatusForPatientRegist ก่อนที่จะมีการสร้าง tabu เสร็จ
    // console.log(er)

  }

  

  
};




 








 




</script>
