
<script>




 

 
function createCalendar2(eventsData) {
  // const defaultDate = document.getElementById('start_date_calendar').value
  //  // Format the date to 'YYYY-MM-DD'
  // const defaultDateYYYYMMDD = formatDateYYYYMMDD(defaultDate);
  // console.log(defaultDateYYYYMMDD);
  
  elements.calendar2 = new FullCalendar.Calendar(document.getElementById('calendar_2'), {
    locale: 'th',
    firstDay: "1",
    // initialDate: defaultDateYYYYMMDD, // '2024-11-10',
    initialView: 'dayGridMonth',
    
    // validRange: {
    //   start: '2023-09-10',
    //   end: '2023-09-20'
    // },
    // hiddenDays: [ 0 ], // 0 = อาทิตย์
    // height: "auto",  // 800,// ถ้าต้องการให้แต่ละช่องไม่ยาวไปเรื่อยๆ ให้ comment นี้ไว้
    contentHeight: 500, 
    // aspectRatio: 3, 

    allDaySlot: false,
    headerToolbar: {
        right: "prev,next today",
        center: "title",
        left: "dayGridMonth,timeGridWeek,timeGridDay", // 
        // left: "dayGridMonth,timeGridWeek,timeGridDay,listMonth" // 
    },
    buttonText: {
      today:    'วันนี้',
      month:    'เดือน',
      week:     'สัปดาห์',
      day:      'วัน',
      // list:     'รายการ'
    },

    defaultAllDayEventDuration:   { days: 1 },

    eventTimeFormat: { // like '14:30:00'
      hour: '2-digit',
      minute: '2-digit',
      // second: '2-digit',
      hour12: false
    },
      
    slotMinTime: '07:00:00',
    slotMaxTime: '20:00:00',
    slotDuration: '00:30:00',

    slotLabelFormat: {
      hour: 'numeric', 
      minute: '2-digit', 
      hour12: false
    },
      
    dayMaxEventRows: true, // for all non-TimeGrid views
    views: {
      timeGrid: {
        dayMaxEventRows: 8 // adjust to 6 only for timeGridWeek/timeGridDay
      }
    },

    events: eventsData, // eventsData, eventDataTest  
    eventStartEditable: false,  // disable drag drop

    // ไม่ว่าจะกด ตรง date หรือ ตรง event ก็ให้ผลเหมือนกัน คือ เลือกวันที่
    // dateClick: function(info) {
    //   // console.log(info)
    //   // console.log(info.date)
    //   openModalAddCalendarEvent(info)

    // },
    dateClick: (info)=>{
      if (disabledDays.includes(info.dateStr)) {
          // alert('This date is disabled!');
          Swal.fire({ icon:'error', title:'ไม่สามารถนัดได้', html:"<h5 align='center'>วันหยุด</h5>"});
      } else {
          // alert('Date clicked: ' + info.dateStr);
          openModalAddCalendarEvent(info)
      }
    },
    datesSet: (info)=>{
      let days = document.querySelectorAll('.fc-daygrid-day');
      days.forEach( (day)=> {
        let date = day.getAttribute('data-date');
        if (disabledDays.includes(date)) {
          // Add a disabled class and set pointer behavior
          day.classList.add('fc-day-disabled');
          day.style.cursor = 'not-allowed';
        }
      });
    },

    // ไม่ว่าจะกด ตรง date หรือ ตรง event ก็ให้ผลเหมือนกัน คือ เลือกวันที่
    eventClick: (info)=> {
      // change the border color just for fun
      // info.el.style.borderColor = 'red';
      // closeModal()
      // openFormEventEdit(info)
      // console.log(info)
      console.log(info.event._instance.range.start) // date start
      // console.log(info.event._def)
      const eventInfo = {}
      eventInfo.dateStr = info.event._instance.range.start
      openModalAddCalendarEvent(eventInfo)
      
    },

    
  
    editable: false, // ป้องกันไม่ให้ลาก event หรือ ขยาย event

    eventContent: (arg)=>{
      // console.log(arg)
      // console.log(arg.timeText) // eg.08:00 
      // console.log(arg.event._def.title) // eg.Room 1
      // console.log(arg.event._def.extendedProps.description)
      // console.log(arg.event._def.extendedProps.description.split('|X|')[3].trim() )

      const patientName = arg.event._def.title // ชื่อ ผป
      const purpose = arg.event._def.extendedProps.description.purpose
      // console.log(purpose)

      const time = arg.timeText  // eg.08:00
      
      let elemP = document.createElement('p')

        elemP.innerHTML = '&nbsp;' + time + ' ' + patientName + '&nbsp;'
        // elemP.style.backgroundColor = '#3498DB';  // backgroundColor
        elemP.style.color = '#1A5276'; // font color
        elemP.style.padding = "0px 0px 0px 0px";
        elemP.style.margin = "-2px 0px -2px 0px";
        elemP.style.overflow =  'hidden';

      let arrayOfDomNodes = [ elemP ]
      return { domNodes: arrayOfDomNodes }
      
    },

    
  });
  elements.calendar2.render();

  

};




</script>



