

<script>



function inputEventHandlerSettingView(e){
  // if (e.target.matches("#doctor_appoint_calendar")  ){
  //   console.log('doctor_appoint_calendar')

  // }
  // if (e.target.matches("#comment_calendar")  ){
  //   console.log('comment_calendar')
    
  //   // console.log(document.getElementById('doctor_appoint_calendar').value)

  // }
    

};



function clickEventHandlerSettingView(e){
  if (e.target.matches("#openmodal_ddoptions_setting_view_btn")  ){
    console.log('openmodal_ddoptions_setting_view_btn') 

    // document.getElementById('add_option_btn').classList.remove("d-none")
    // document.getElementById('delete_option_btn').classList.add("d-none")
    openModalDropDownOptions();

    elements["dd_option_category"].clearInput(); // set ค่าของ choice js
    elements["dd_option_category"].enable()  // enable(); disable() disblechoice disble choice

    document.getElementById('dd_option_name').value = "ทุกรายการ"

    document.getElementById('option_val1_name').textContent = "ค่าที่ 1"
    document.getElementById('option_val2_name').textContent = "/ค่าที่ 2"
    document.getElementById('option_val3_name').textContent = "/ค่าที่ 3"

  }
  if (e.target.matches("#openmodal_adduser_btn")  ){
    console.log('openmodal_adduser_btn')
    openModalUserAdd()

    

  }
    
    

};


function openModalUserAdd(){
  let modal1 = bootstrap.Modal.getOrCreateInstance(document.getElementById('user_info_modal')) // Returns a Bootstrap modal instance
  modal1.show();
  // modal1.hide();

  document.getElementById('user_form').classList.remove('d-none')
  document.getElementById('user_form').reset()

  document.getElementById('user_add_btn').classList.remove('d-none')
  document.getElementById('user_edit_btn').classList.add('d-none')



  

}; 



document.getElementById('setting_view').addEventListener("input", inputEventHandlerSettingView)
document.getElementById('setting_view').addEventListener("click", clickEventHandlerSettingView)



</script>




