<script>



  
// *******************************************************************************
// TABLE DROPDOWN OPTIONS
// *******************************************************************************

function showTableDropdownOptions(tabledata){
  // Define the custom formatter function
  let mergeFormatter = (cell, formatterParams, onRendered)=>{
      const data = cell.getRow().getData();
      return data.firstName + " " + data.lastName; // Merge name and surname
  };


  elements.tableDropdownOptions = new Tabulator("#table_dropdown_options", {
    data:tabledata,           //load row data from array
    // data: [],  // Empty array as initial data
    index:"opdVisitId", //set the index field to the "age" field.
    layout:"fitColumns",      //fit columns to width of table
    // layout:"fitDataStretch",
    // layout:"fitDataFill",
    responsiveLayout:"hide",  //hide columns that don't fit on the table
    addRowPos:"top",          //when adding a new row, add it to the top of the table
    
    pagination:"local",       //paginate the data
    paginationSize:10,         //allow 7 rows per page of data
    paginationCounter:"rows", //display count of paginated rows in footer
    // initialSort:[             //set the initial sort order of the data
    //     {column:"appointDate", dir:"dsc"},
    // ],

    placeholder:"ไม่พบข้อมูล", //display message to user on empty table

    // initialFilter:[
    //     {field:"appointDate", type:"like", value:currentDay}
    // ],

    columns:[
      {formatter:"rownum", hozAlign:"center", width:40},
      {title:"prefixName", field:"prefixName", visible:true, },
      {title:"healthwelfare", field:"healthwelfare", visible:true, },
      {title:"cc", field:"cc", visible:true, },
      {title:"doctorName", field:"doctorName", visible:true, },
      {title:"roomName", field:"roomName", visible:true, },
      {title:"icd10", field:"icd10", visible:true, },
      {title:"dose", field:"dose", visible:true, },
      {title:"commentFavoriteMedcer", field:"commentFavoriteMedcer", visible:true, },
      {title:"serviceUnit", field:"serviceUnit", visible:true, },
      {title:"occupation", field:"occupation", visible:true, },
      {title:"purposeAppointment", field:"purposeAppointment", visible:true, },
      {title:"causeRefer", field:"causeRefer", visible:true, },
    ],


  });

    

};



 


function openModalDropDownOptions(){
  let modal1 = bootstrap.Modal.getOrCreateInstance(document.getElementById('dropdown_option_modal')) // Returns a Bootstrap modal instance
  modal1.show();
//   modal1.hide();

//   let modal2 = bootstrap.Modal.getOrCreateInstance(document.getElementById('calendar_view_modal')) // Returns a Bootstrap modal instance
//   modal2.show();
  // modal.hide();


//   document.getElementById('calendarModal_To_AppointmentModal_btn').classList.remove('d-none')
//   setTimeout(clickCalendarBtn, 200); 

}; 




function addNewUserByAdmin(){
  console.log('addNewUserByAdmin')

  loadingStart()

  const userInfo = getFormDataById('user_form'); // obj
  console.log(userInfo)

  userInfo.statusAppr = "Pending"

  google.script.run.withSuccessHandler((res)=>{
    console.log(res)
    loadingEnd()

    document.getElementById("user_form").reset()

  }).addNewUserByAdminToSheet(userInfo)



};







</script>




