
<script>



function clickEventHandlerTreatView(e){
  if (e.target.classList.contains("add-input-dx-treat") ){
    // console.log('add-input-dx-treat')
    const rowInput = document.getElementsByClassName('add-input-dx-treat').length
    // console.log(rowInput)

    if( rowInput > 4){
      alert("row is over than 5")
    } else {
      addRowInputDxTreat()
    }
  }
  if (e.target.classList.contains("remove-input-dx-treat") ){
    const rowInput = document.getElementsByClassName('add-input-dx-treat').length
    // console.log(rowInput)
    if( rowInput > 1){
      Swal.fire({
        title: "ยืนยันการลบ?",
        showDenyButton: true,
        showCancelButton: false,
        confirmButtonText: "ยืนยัน",
        denyButtonText: `ยกเลิก`
      }).then((result) => {
        if (result.isConfirmed) {
          e.target.closest('.input-line').remove()
          
        } else if (result.isDenied) {

        }
      })
      
    } else {
      alert("row must at least 1 ต้อง ลง Dx อย่างน้อย 1 อย่าง")
      document.getElementById("form_table_dx_treat").reset();
      
    }

  }
  if (e.target.classList.contains("add-input-tx-treat") ){
    // console.log('add-input-tx-treat')
    const rowInput = document.getElementsByClassName('add-input-tx-treat').length
    // console.log(rowInput)
    if( rowInput > 9){
      alert("จำกัด 10 รายการ")
    } else {
      addRowInputTxTreat()
    }
  }
  if (e.target.classList.contains("remove-input-tx-treat") ){
    const rowInput = document.getElementsByClassName('add-input-tx-treat').length
    // console.log(rowInput)
    if( rowInput > 1){
      e.target.closest('.input-line').remove()

    } else {
      document.getElementById("form_table_tx_treat").reset();
      
    }

  }
  if (e.target.classList.contains("add-input-hm-treat") ){
    // console.log('add-input-hm-treat')
    const rowInput = document.getElementsByClassName('add-input-hm-treat').length
    // console.log(rowInput)
    if( rowInput > 9){
      alert("จำกัด 10 รายการ")
    } else {
      addRowInputHmTreat()
    }
  }
  if (e.target.classList.contains("remove-input-hm-treat") ){
    const rowInput = document.getElementsByClassName('add-input-hm-treat').length
    // console.log(rowInput)
    if( rowInput > 1){
      e.target.closest('.input-line').remove()

    } else {
      document.getElementById("form_table_hm_treat").reset();
      
    }

  }
  if (e.target.matches("#treat_view_save_btn") ){
    // console.log("treat_view_save_btn")
    if( document.getElementById('patient_hn_treat').textContent == '' ){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      saveDataTreatView();
      
    }
    
  }
  if (e.target.matches("#treat_view_delete_btn") ){
    // console.log("กดกด")
    Swal.fire({
      title: "ยืนยันการลบ?",
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: "ยืนยัน",
      denyButtonText: `ยกเลิก`
    }).then((result) => {
      if (result.isConfirmed) {
        console.log("ลบ")
        deleteOpdVisit();
        
      } else if (result.isDenied) {

      }
    })
  }
  if (e.target.matches("#open_modal_receipt_btn") ){
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      openModalReceipt();

    }
    
  }
  if (e.target.matches("#open_modal_medcernorm_btn") ){
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      openModalMedcerNorm();

    }
    
  }
  if (e.target.matches("#open_modal_medcerdrive_btn") ){
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      openModalMedcerDrive();

    }
    
  }
  if (e.target.matches("#open_modal_medcersick_btn") ){
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      openModalMedcerSick();

    }
    
  }
  if (e.target.matches("#open_modal_refer_btn") ){
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      openModalRefer();

    }
    
  }
  if (e.target.matches("#openmodal_history_treat_btn") ){
    // console.log("กดกดกดก")
    resetFormHistory()
    const patientId = document.getElementById('patient_id_treat').textContent
    openModalHistoryTreat(patientId);

  }
   


};



function openModalHistoryTreat(patientId){ 
  // console.log("history_modal")
  let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('history_modal')) // Returns a Bootstrap modal instance
  modal.show(); // modal.hide();

  
  const patientInfo = elements.tablePatientRegist.getRow(patientId).getData(); 
  // console.log(patientInfo)

  document.getElementById('fullname_history').textContent = `${patientInfo.identityData.firstName} ${patientInfo.identityData.lastName}`
  document.getElementById('hn_history').textContent = patientInfo.identityData.hn
  document.getElementById('patient_id_history').textContent = patientId
  
  // elements.tableHistory.setFilter([
  //   {field:"patientId", type:"=", value:patientId},   
      
  // ]);

  elements.tableHistory.setFilter([
    {field:"visitDate",type: "!=",value: ""}, // search with and
    {field:"patientId",type: "like",value: patientId}, // search with and
     
  ]);


};








function inputEventHandlerTreatView(e){
  // Get all elements with the class 'myInput'
  const inputFieldsTableDx = document.querySelectorAll('.input-dx-treat');

  // Attach keypress event listener to each input field
  inputFieldsTableDx.forEach(input => {
    input.addEventListener('keypress', handleKeyPressTableDx);
  });



  // Get all elements with the class 'myInput'
  const inputFieldsTableTx = document.querySelectorAll('.input-tx-treat');

  // Attach keypress event listener to each input field
  inputFieldsTableTx.forEach(input => {
    input.addEventListener('keypress', handleKeyPressTableTx);
  });



  // Get all elements with the class 'myInput'
  const inputFieldsTableHm = document.querySelectorAll('.input-hm-treat');

  // Attach keypress event listener to each input field
  inputFieldsTableHm.forEach(input => {
    input.addEventListener('keypress', handleKeyPressTableHm);
  });



};



function clickEventHandlerReceiptModal(e){
  if (e.target.matches("#makepdf_receipt_th_btn") ){
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      makePdfReceiptTh();

    }
    
  }

};


function clickEventHandlerMedcerNormModal(e){
  if (e.target.matches("#makepdf_medcer_norm_th_btn") ){
    console.log("makepdf_medcer_norm_th_btn")
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      makePdfMedCerNormTh();

    }
     
     
  }
  if (e.target.matches("#makepdf_medcer_norm_eng_btn") ){
    console.log("makepdf_medcer_norm_eng_btn")
    const medcerNormInfo = {}
      medcerNormInfo.underlyingYes = document.getElementById('medcer_norm_underlying_check').checked ? logo_check : logo_uncheck
      medcerNormInfo.underlyingNo = document.getElementById('medcer_norm_underlying_check').checked ? logo_uncheck : logo_check
      medcerNormInfo.underlyingDetail = document.getElementById('medcer_norm_underlying_detail').value

      medcerNormInfo.traumaYes = document.getElementById('medcer_norm_trauma_check').checked ? logo_check : logo_uncheck
      medcerNormInfo.traumaNo = document.getElementById('medcer_norm_trauma_check').checked ? logo_uncheck : logo_check
      medcerNormInfo.traumaDetail = document.getElementById('medcer_norm_trauma_detail').value

      medcerNormInfo.admitYes = document.getElementById('medcer_norm_admit_check').checked ? logo_check : logo_uncheck
      medcerNormInfo.admitNo = document.getElementById('medcer_norm_admit_check').checked ? logo_uncheck : logo_check
      medcerNormInfo.admitDetail = document.getElementById('medcer_norm_admit_detail').value
    
      medcerNormInfo.healthyYes = document.getElementById('medcer_norm_health_condition').value === 'ปกติ(Normal)' ? 'Normal' : 'Abnormal'
      medcerNormInfo.comment = document.getElementById('medcer_norm_doc_comment').value 

      medcerNormInfo.otherhxYes = document.getElementById('medcer_norm_otherhx_check').checked ? logo_check : logo_uncheck
      medcerNormInfo.otherhxNo = document.getElementById('medcer_norm_otherhx_check').checked ? logo_uncheck : logo_check
      medcerNormInfo.otherhxDetail = document.getElementById('medcer_norm_otherhx_detail').value

    const opdVisitId = document.getElementById('opd_visitid_treat').textContent
    const row = elements.tablePending.getRow(opdVisitId); //return row component with index of 1
    const rowData = row.getData();
    console.log(rowData)

    makePdfMedCerNormEng(rowData,clinicInfo,medcerNormInfo)
  }

};



function clickEventHandlerMedcerDriveModal(e){
  if (e.target.matches("#makepdf_medcer_drive_th_btn") ){
    console.log("makepdf_medcer_drive_th_btn")
    if( document.getElementById('patient_hn_treat').textContent == ''){
      alert("กรุณาระบุเลือกผู้ป่วย")

    } else {
      makePdfMedcerDriveTh();

    }
 
  }
  if (e.target.matches("#makepdf_medcer_drive_eng_btn") ){
    console.log("makepdf_medcer_drive_eng_btn")
    const medcerDriveInfo = {}
      medcerDriveInfo.underlyingYes = document.getElementById('underlying_check').checked ? logo_check : logo_uncheck
      medcerDriveInfo.underlyingNo = document.getElementById('underlying_check').checked ? logo_uncheck : logo_check
      medcerDriveInfo.underlyingDetail = document.getElementById('underlying_detail').value  

      medcerDriveInfo.traumaYes = document.getElementById('trauma_check').checked ? logo_check : logo_uncheck
      medcerDriveInfo.traumaNo = document.getElementById('trauma_check').checked ? logo_uncheck : logo_check
      medcerDriveInfo.traumaDetail = document.getElementById('trauma_detail').value

      medcerDriveInfo.admitYes = document.getElementById('admit_check').checked ? logo_check : logo_uncheck
      medcerDriveInfo.admitNo = document.getElementById('admit_check').checked ? logo_uncheck : logo_check
      medcerDriveInfo.admitDetail = document.getElementById('admit_detail').value

      medcerDriveInfo.seizureYes = document.getElementById('seizure_check').checked ? logo_check : logo_uncheck
      medcerDriveInfo.seizureNo = document.getElementById('seizure_check').checked ? logo_uncheck : logo_check
      medcerDriveInfo.seizureDetail = document.getElementById('seizure_detail').value

      medcerDriveInfo.otherhxYes = document.getElementById('otherhx_check').checked ? logo_check : logo_uncheck
      medcerDriveInfo.otherhxNo = document.getElementById('otherhx_check').checked ? logo_uncheck : logo_check
      medcerDriveInfo.otherhxDetail = document.getElementById('otherhx_detail').value

      medcerDriveInfo.healthyYes = document.getElementById('healthy_check').checked ? 'ผิดปกติ' : 'ปกติ'
      medcerDriveInfo.comment = document.getElementById('medcer_drive_comment').value


    const opdVisitId = document.getElementById('opd_visitid_treat').textContent
    const row = elements.tablePending.getRow(opdVisitId); //return row component with index of 1
    const rowData = row.getData();
    console.log(rowData)

    makePdfMedCertDriveEng(rowData,clinicInfo,medcerDriveInfo)

    


  }


  


};
 


function clickEventHandlerMedcerSickModal(e){
  if (e.target.matches("#makepdf_medcer_sick_th_btn") ){
    console.log("makepdf_medcer_sick_th_btn")

    makePdfMedCertSickTh();
 
    
  }
  
};



document.getElementById('treat_view').addEventListener("click", clickEventHandlerTreatView)
document.getElementById('receipt_modal').addEventListener("click", clickEventHandlerReceiptModal)
document.getElementById('medcer_norm_modal').addEventListener("click", clickEventHandlerMedcerNormModal)
document.getElementById('medcer_drive_modal').addEventListener("click", clickEventHandlerMedcerDriveModal)
document.getElementById('medcer_sick_modal').addEventListener("click", clickEventHandlerMedcerSickModal)

document.getElementById('treat_view').addEventListener("input", inputEventHandlerTreatView)




</script>

