

<div class="col d-none" id="treat_view">
  <div class="" id="non_selected_patient_view_treat">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-info shadow my-btn mt-2"  onclick="closeTreatView()"><i class="bi bi-x-square"></i> ปิดหน้าต่าง</button>
    </div>
    <div class="container-fluid">
      <div class="row min-vh-100 align-items-center">
        <div class="col-12 text-center">
          <h1>ยังไม่ได้เลือกผู้ป่วย!</h1>
          <p>กรุณาเลือกผู้ป่วยในหน้ารอรับบริการ</p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="d-none" id="selected_patient_view_treat">
    
    <div class="card mb-1 mt-2 bg-success bg-opacity-25 shadow" >
      <div class="d-flex flex-row row  justify-content-md-start" >
        <div class="col-md-3">
          <div class="card-body">
            <center><img src="https://lh5.googleusercontent.com/d/1PgsUyEWdv7NdSaYlpgYfoyL3sF47FGdn" width="80" height="80" class="img-fluid rounded-center" ></center>
            <center>
              <span id="patient_fname_treat"></span>&nbsp;
              <span id="patient_lname_treat"></span>
              
            </center>

          </div>
        </div>
        <div class="col-md-2"> 
          <div class="card-body">
             <div>
                <button type="button" class="btn btn-secondary" onclick="openPatientInfoModalFromTreatView()" ><i class="bi bi-person-vcard"></i> ข้อมูลทั่วไป</button>
              </div>
              <p class="d-none" id="devmodeshow_referenceid_treat_form">
                <span class="fw-bold">PID: </span>
                <span class="" id="patient_id_treat"></span>
                <br>
                <span class=" fw-bold">VID: </span>
                <span class="" id="opd_visitid_treat"></span>
              </p>
          </div>
        </div>
        <div class="col-md"> 
          <div class="card-body">
             
            <p class="card-text">
              <!-- <span class="fw-bold">ชื่อไทย: </span>
              <span id="patient_fname_treat"></span> 
              <span id="patient_lname_treat"></span>&nbsp; -->
              <!-- <span class="fw-bold">ชื่ออังกฤษ:</span>
              <span id="patient_fname_eng_treat"></span>
              <span id="patient_lname_eng_treat"></span>&nbsp; -->
              <span class="fw-bold">วันเกิด: </span>
              <span id="patient_birthday_treat"></span>&nbsp;
              <span class="fw-bold">อายุ: </span>
              <span id="patient_age_treat"></span>&nbsp;
              <span class="fw-bold">เพศ: </span>
              <span id="patient_gender_treat"></span>
              <span class="fw-bold">HN: </span>
              <span id="patient_hn_treat"></span>&nbsp;

              <br>
              <span class="fw-bold">CID: </span>
              <span id="patient_cid_treat"></span>&nbsp;
              <span class="fw-bold">Phone: </span>
              <span id="patient_tel_treat"></span>

              <br>
              <span class="fw-bold">ที่อยู่: </span>
              <span id="patient_address_treat"></span>&nbsp;
              <!-- <span class="fw-bold">Address: </span>
              <span id="patient_address_eng_treat"></span> -->
              <br>
              <span class="fw-bold">โรคประจำตัว: </span>
              <span id="patient_ud_treat"></span>&nbsp;
              <span class="fw-bold" id="patient_fname_treat">แพ้ยา: </span>
              <span id="patient_allergy_treat"></span>&nbsp;
              <span class="fw-bold" >หมายเหตุ: </span>
              <span id="patient_note_treat"></span>
               
              

            </p>
          </div>
        </div>

        

         
      </div>
    </div>

  
  

    <div class="row mt-2  justify-content-between">
      <div class="col-md-4">
        
        <div class="btn-group " role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle my-btn" data-bs-toggle="dropdown" aria-expanded="false">
              พิมพ์
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item pointer" id="open_modal_receipt_btn">ใบเสร็จรับเงิน</a></li>
              <li><a class="dropdown-item pointer" id="open_modal_medcernorm_btn" >ใบรับรองแพทย์ 5 โรค</a></li>
              <li><a class="dropdown-item pointer" id="open_modal_medcerdrive_btn">ใบรับรองแพทย์ ขับขี่</a></li>
              <li><a class="dropdown-item pointer" id="open_modal_medcersick_btn">ใบรับรองแพทย์ ป่วย</a></li>
              <li><a class="dropdown-item pointer" id="open_modal_refer_btn">ใบส่งตัว</a></li>
              <li><a class="dropdown-item pointer" id="open_modal_opd_btn">OPD Card</a></li>
            </ul>

          </div>
        </div>
        <button type="button" class="btn btn-secondary shadow my-btn" id="openmodal_history_treat_btn">ประวัติ</button>

      </div>

      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-info shadow my-btn"  onclick="closeTreatView()"><i class="bi bi-x-square"></i> ปิดหน้าต่าง</button>
      </div>

     
      
    </div>
        
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="ccpi-tab" data-bs-toggle="tab" data-bs-target="#ccpi-tab-pane" type="button" role="tab" aria-controls="ccpi-tab-pane" aria-selected="true"><i class="bi bi-chat-dots-fill"></i> Present Ill</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pe-tab" data-bs-toggle="tab" data-bs-target="#pe-tab-pane" type="button" role="tab" aria-controls="pe-tab-pane" aria-selected="false"><i class="bi bi-universal-access"></i> Physical Ex</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="ix-tab" data-bs-toggle="tab" data-bs-target="#ix-tab-pane" type="button" role="tab" aria-controls="ix-tab-pane" aria-selected="false"><i class="bi bi-lungs-fill"></i> Investigate</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="dx-tab" data-bs-toggle="tab" data-bs-target="#dx-tab-pane" type="button" role="tab" aria-controls="dx-tab-pane" aria-selected="false"><i class="bi bi-heart-pulse-fill"></i> Diagnosis</button>
      </li>
      
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tx-tab" data-bs-toggle="tab" data-bs-target="#tx-tab-pane" type="button" role="tab" aria-controls="tx-tab-pane" aria-selected="false"><i class="bi bi-tools"></i> Treatment</button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="hm-tab" data-bs-toggle="tab" data-bs-target="#hm-tab-pane" type="button" role="tab" aria-controls="hm-tab-pane" aria-selected="false"><i class="bi bi-capsule"></i> HomeMed</button>
      </li>
      
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary-tab-pane" type="button" role="tab" aria-controls="summary-tab-pane" aria-selected="false"><i class="bi bi-receipt"></i> Summary</button>
      </li>
      <li class="nav-item d-none" role="presentation">
        <button class="nav-link" id="appointment-tab" data-bs-toggle="tab" data-bs-target="#appointment-tab-pane" type="button" role="tab" aria-controls="appointment-tab-pane" aria-selected="false"><i class="bi bi-calendar-plus"></i> Appointment</button>
      </li>
      
      
    </ul>

    <div class="tab-content shadow p-3 mb-3 rounded bg-success bg-opacity-10" >

      <!-- ซักประวัติ ---------------------->
      <div class="tab-pane fade show active " id="ccpi-tab-pane" role="tabpanel" aria-labelledby="ccpi-tab" tabindex="0">
        <form id="ccpi_form_treat">
          <div class="row mt-1">
              <div class="col">
                  <label class="form-label">น้ำหนัก(kg)</label>
                  <input type="number" max="200" class="form-control" id="bw_treat">  
              </div>
              <div class="col">
                  <label class="form-label">ส่วนสูง(cm)</label>
                  <input type="number" max="200" class="form-control" id="ht_treat">
              </div>
              <div class="col">
                  <label class="form-label">อุณหภูมิ</label> 
                  <input type="number" max="50" class="form-control" id="bt_treat">
              </div>
              <div class="col">
                <label class="form-label">SBP</label>
                <input type="number" max="300" class="form-control" id="sbp_treat">
              </div>
              <div class="col">
                <label class="form-label">DBP</label>
                <input type="number" max="200" class="form-control" id="dbp_treat">
              </div>
              <div class="col">
                  <label class="form-label">ชีพจร</label>
                  <input type="number" max="300" class="form-control" id="pr_treat">
              </div>
              <div class="col">
                  <label class="form-label">หายใจ</label>
                  <input type="number" max="60" class="form-control" id="rr_treat">
              </div>
          </div>
          <div class="row mt-1">
              <div class="col">
                <label for="cc_treat" class="form-label">อาการสำคัญ</label>
                <input type="search" class="form-control" list="datalistOptions_cc" id="cc_treat" >
                <datalist id="datalistOptions_cc">
                  
                </datalist>
              </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <label class="form-label">อาการ</label>
              <textarea class="form-control" id="pi_treat" style="height: 120px"></textarea>
            </div>
            <div class="col">
              <label class="form-label">ประวัติอดีต/Note</label>
              <textarea class="form-control" id="ph_treat" style="height: 120px"></textarea>
            </div>
          </div>
        </form>
        
      </div>

      <!-- ตรวจร่างกาย -------------------->
      <div class="tab-pane fade" id="pe-tab-pane" role="tabpanel" aria-labelledby="pe-tab" tabindex="0">
        <form id="pe_form_treat">
          <div class="row mt-1">
            <div class="col">
              <label class="form-label">ตรวจร่างกาย</label>
              <textarea class="form-control" id="pe_treat" style="height: 200px"></textarea> 
            </div>
            <div class="col">
              <label class="form-label">ตรวจช่องปาก(Oral exam)</label>
              <textarea class="form-control" id="oe_treat" style="height: 200px"></textarea>
            </div>
          </div>
        </form>
        
      </div>

      <!-- Investigation --------------->
      <div class="tab-pane fade" id="ix-tab-pane" role="tabpanel" aria-labelledby="ix-tab" tabindex="0">
        <form id="ix_form_treat">
          <div class="row mt-1">
            <div class="col">
              <label class="form-label">ผล LAB</label>
              <textarea class="form-control" id="lab_treat" style="height: 90px"></textarea>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <label class="form-label">ผล X-ray/CT/MRI</label>
              <textarea class="form-control" id="xray_treat" style="height: 90px"></textarea>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <label class="form-label">ผล U/S</label>
              <textarea class="form-control" id="us_treat" style="height: 90px"></textarea>
            </div>
          </div>
        </form>
      </div>

      <!-- วินิจฉัย ----------------------->
      <div class="tab-pane fade" id="dx-tab-pane" role="tabpanel" aria-labelledby="dx-tab" tabindex="0">
        <form class="row mt-1 p-1 text-black" id="form_table_dx_treat">
          <table class="table table-bordered table-sm table-hover" id="table_dx_treat"> 
            <thead class ="table-secondary">
              <tr>
                <th>#</th>
                <th>วินิจฉัย</th>
                <th>ICD-10</th>
                <th></th>
              </tr>
            </thead>
              
            <tbody id="input_dx_treat">
              <!-- Rows will be added here -->

            </tbody>
 
            <template id="input_dx_template_treat">
              <tr class="input-line">
                <td class="text-center align-middle"></td>
                <td>
                  <input class="form-control input-dx-treat" list="datalistOptions_dx_treat" type="search" >
                  <datalist id="datalistOptions_dx_treat">
                    
                  </datalist>
                </td>
                <td><input type="search" class="form-control input-dx-treat"></td>
                <td class="col-1 text-center align-middle">
                  <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary add-input-dx-treat">เพิ่ม</button>
                    <button type="button" class="btn btn-outline-secondary remove-input-dx-treat">ลบ</button>
                  </div>
                </td>
              </tr>
            </template>
              


            
          </table>
        </form>

      </div>

      <!-- รักษา ------------------------>
      <div class="tab-pane fade" id="tx-tab-pane" role="tabpanel" aria-labelledby="tx-tab" tabindex="0">
        <form class="row mt-1 p-1 text-black" id="form_table_tx_treat">
          <table class="table table-bordered table-sm table-hover" id="table_tx_treat"> 
            <thead class ="table-secondary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">รายการ/สั่งการรักษา</th>
                <th scope="col">วิธีการใช้</th>
                <th scope="col">ราคา</th>
                <th scope="col"></th>
              </tr>
            </thead>
              
            <tbody id="input_tx_treat">
              <!-- Rows will be added here -->

            </tbody>
              
 
            <template id="input_tx_template_treat">
              <tr class="input-line">
                <td class="text-center align-middle"></td>
                <td>
                  <input class="form-control input-tx-treat" list="datalistOptions_tx_treat" type="search">
                  <datalist id="datalistOptions_tx_treat">
                     
                  </datalist>
                </td>
                <td><input type="text" class="form-control input-tx-treat"></td>
                <td class="col-1"><input type="text" class="form-control input-tx-treat"></td>
                <td class="col-1 text-center align-middle">
                  <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary add-input-tx-treat">เพิ่ม</button>
                    <button type="button" class="btn btn-outline-secondary remove-input-tx-treat">ลบ</button>
                  </div>
                </td>
              </tr>
            </template>
              
          </table>
        </form>
      </div>

      <!-- ยากลับบ้าน homemed ----------------------->
      <div class="tab-pane fade" id="hm-tab-pane" role="tabpanel" aria-labelledby="hm-tab" tabindex="0">
        <form class="row mt-1 p-1 text-black" id="form_table_hm_treat">
          <table class="table table-bordered table-sm table-hover" id="table_hm_treat"> 
            <thead class ="table-secondary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">รายการ</th>
                <th scope="col">วิธีการใช้</th>
                <th scope="col">จำนวน</th>
                <th scope="col">ราคา</th>
                <th scope="col"></th>
              </tr>
            </thead>
              
            <tbody id="input_hm_treat">
              <!-- Rows will be added here -->

               
            </tbody>
              

            <template id="input_hm_template_treat">
              <tr class="input-line">
                <td class="text-center align-middle"></td>
                <td>
                  <input class="form-control input-hm-treat" list="datalistOptions_hm_treat" type="search">
                  <datalist id="datalistOptions_hm_treat">
                    <option value="Amoxy">
                    <option value="Para">
                    <option value="Omeprazole">
                  </datalist>
                </td>
                <td><input type="text" class="form-control input-hm-treat"></td>
                <td><input type="text" class="form-control input-hm-treat"></td>
                <td class="col-1"><input type="text" class="form-control input-hm-treat"></td>
                <td class="col-1 text-center align-middle">
                  <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-secondary add-input-hm-treat">เพิ่ม</button>
                    <button type="button" class="btn btn-outline-secondary remove-input-hm-treat">ลบ</button>
                  </div>
                </td>
              </tr>
            </template>
              
          </table>
        </form>
  
      </div>

      <!-- สรุป ค่ารักษา ---------------->
      <div class="tab-pane fade" id="summary-tab-pane" role="tabpanel" aria-labelledby="summary-tab" tabindex="0">
        <form id="summary_form_treat">
          <div class="row mt-1">
            <div class="col">
                <label  class="form-label">รวมราคา</label>
                <input type="text" class="form-control" id="total_price_sum_treat" >
            </div>
            <div class="col">
                <label  class="form-label">รูปแบบการจ่าย</label>
                <select class="form-select"  id="pay_type_treat">  
                  <option value="" selected></option>
                  <option value="เต็มจำนวน" >เต็มจำนวน</option>
                  <option value="บางส่วน">บางส่วน</option>
                </select>
            </div>
            <div class="col">
                <label  class="form-label">คงเหลือ</label>
                <input type="text" class="form-control" id="pay_remain_treat">
            </div>

            <div class="col">
                <label  class="form-label">ผ่านช่องทาง</label>
                <select class="form-select"  id="pay_channel_treat"> 
                  <option value="" selected></option>
                  <option value="เงินสด" >เงินสด</option>
                  <option value="โอนพร้อมเพย์">โอนพร้อมเพย์</option>
                  <option value="รูดบัตร">รูดบัตร</option>
                  <option value="ประกันสังคม">ประกันสังคม</option>
                </select>
            </div>
            
            <div class="col">
                <label class="form-label">ประกันสังคม</label>
                <select class="form-select"  id="social_security_treat">  
                  <option value="" selected></option>
                  <option value="yes" >Yes</option>
                  <option value="no">No</option>
                </select>
            </div>
            
          </div>

          <div class="row mt-1">
            <div class="col">
                <label class="form-label">หมายเหตุ</label> 
                <input type="text" class="form-control" id="doctor_note_treat">
            </div>
            <!-- <div class="col-3">
                <label for="exampleFormControlInput1" class="form-label">Doctor</label>
                <input type="text" class="form-control" id="doctor_tx_treat" disabled> 
            </div>
            <div class="col-2">
                <label for="exampleFormControlInput1" class="form-label">เลข ว.</label>
                <input type="text" class="form-control" id="doctor_id_treat" disabled>
            </div> -->
          </div>

          <div class="row mt-1">
            <div class="col-12">
              <label for="exampleFormControlInput1" class="form-label">แผนการรักษา</label>
              <div class="col mt-1">
                <textarea class="form-control" id="tx_plan_treat" style="height: 100px"></textarea>
              </div>
            </div>
            
          </div>
        </form>
      </div>

      <!-- นัดหมาย ---------------->
      <div class="tab-pane fade d-none" id="appointment-tab-pane" role="tabpanel" aria-labelledby="appointment-tab" tabindex="0">
        <form id="appointment_form_treat">
          <div class="row mt-1">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">วันนัด</label>
                <input type="date" class="form-control" id="fu_date_treat" >
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">เวลานัดหมาย</label>
                <input type="time" class="form-control" id="fu_time_treat" >
            </div>
            <div class="col-6">
              <label class="form-label">เพื่อ</label>
              <select class="form-select text-primary" id="fu_plan_treat" > 
                <option value="" selected></option>
                <option value="รักษาต่อเนื่อง">รักษาต่อเนื่อง</option>
                <option value="ติดตามอาการ">ติดตามอาการ</option>
                <option value="ฟังผลตรวจ">ฟังผลตรวจ</option>
              </select>
            </div>
          </div>
        </form>
      </div>


      

      
    </div>

    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary shadow my-btn mb-4" id="treat_view_save_btn">บันทึก</button>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-danger shadow my-btn mb-4" id="treat_view_delete_btn">ลบ</button>
    </div>



  </div>
    
</div>