

<script>



function showTableDrugsCatalog(tabledata){
  
  document.getElementById('drugcatalog_dashboard').classList.remove('d-none')

  // Modify your tabledata to include the `lastUpdate` field
  tabledata.forEach((item)=>{
    const startDate = item.stockUpdate
    const endDate = new Date() // today
    item.lastUpdate = dateDiffInMonths(startDate,endDate) 
  });

  let thaiDateFormatter_expiredDate = (cell, formatterParams, onRendered)=>{
      try {
          const data = cell.getRow().getData();
          
          const thaiDateStr = toThaiDateStringShort(new Date(data.expired)) 
          return thaiDateStr

      } catch(er){

      }
      
  };

  let thaiDateFormatter_stockUpdate = (cell, formatterParams, onRendered)=>{
      try {
          const data = cell.getRow().getData();
          
          const thaiDateStr = toThaiDateStringShort(new Date(data.stockUpdate)) 
          return thaiDateStr

      } catch(er){
        // console.log(er)

      }
      
  };
  

  //initialize table
  elements.tableDrugCatalog = new Tabulator("#drugs_catalog_table", {
    data:tabledata,           //load row data from array
    index:"drugId",
    layout:"fitColumns",      //fit columns to width of table
    responsiveLayout:"hide",  //hide columns that don't fit on the table
    pagination:"local",       //paginate the data
    paginationSize:10,         //allow 7 rows per page of data
    paginationCounter:"rows", //display count of paginated rows in footer

    selectableRows:1,
    
    
    columns:[             //define the table columns
        {title:"รหัส", field:"drugId" },
        {title:"ชื่อยา", field:"drugName", minWidth:160,width:200, },
        {title:"จำนวน", field:"amount" },
        {title:"ชนิด", field:"type" },
        {title:"วันหมดอายุ", field:"expired",formatter:thaiDateFormatter_expiredDate},

        {title:"daysRemain", field:"daysRemain", visible: false},
        {title:"lastUpdate", field:"lastUpdate", visible: false}, // in month
        {title:"stockUpdate", field:"stockUpdate", visible: false,formatter:thaiDateFormatter_stockUpdate},
        
        
    ],
    
  })

  elements.tableDrugCatalog.on("rowClick", (e, row)=>{
    //e - the click event object
    //row - row component
    const rowData = row.getData();
    console.log(rowData)

    openModalEditDrug(rowData)
    // const patientId = rowData.patientId
    // console.log(`patientId ${patientId}`)
    // // console.log(rowData.generalData) // string
    // openModalPatientMenu(patientId)

    const checkForm = checkFormInputRequired("drug_info_form")   // ถ้าถูกต้องให้ return true ไม่ถูกต้อง false และ highlight

  });



};





function showTableDrugSets(drugSetsInfo){
  // const data = drugSets
  // console.log(drugSetsInfo)

  // console.log(drugSetsTest);
  // ต้องแปลงรูปแบบเป้นแบบนี้ สำหรับ Tabulator
  // let drugSetsTest = [
  //     {setId:1,userId:"US240812-466691",drug:1, setName:"Myalgia",hm:"Diclofenac 25 mg/เม็ด/1.5/แก้อักเสบ/DG240511_000010", dose:"13pt/รับประทาน 1 เม็ด 3 เวลา หลังอาหารเช้า-เที่ยง-เย็น/3", amount:20, },
  //     {setId:2,userId:"US240812-466682",drug:2, setName:"Myalgia", hm:"Paracetamol 500 mg/เม็ด/1/แก้ปวด ลดไข้/DG240511_000024", dose:"1prnq6/รับประทาน 1 เม็ด เวลาที่มีอาการ ทุก 6 ชั่วโมง/4", amount:15, },
  //     {setId:3,userId:"US240812-466691",drug:1, setName:"URI", hm:"Cetirizine 10 mg/เม็ด/3.2/แก้หวัด/DG240511_000005", dose:"11ht/รับประทาน 1 เม็ด 1 เวลา ก่อนนอน/1", amount:10, },
  //     {setId:4,userId:"US240812-466682",drug:2, setName:"URI", hm:"Paracetamol 500 mg/เม็ด/1/แก้ปวด ลดไข้/DG240511_000024", dose:"1prnq6/รับประทาน 1 เม็ด เวลาที่มีอาการ ทุก 6 ชั่วโมง/4", amount:20, },
  // ];


  // Filtered by userId
  const userId =  document.getElementById('user_id_status').textContent // "US240812-466691" 
  const filteredDrugSetsByUserId = drugSetsInfo.filter(entry => entry.userId === userId);

  
  //initialize table
  elements.tableDrugsSets = new Tabulator("#drugs_sets_table", {
    data:filteredDrugSetsByUserId,           //load row data from array
    index:"setId",
    layout:"fitColumns",      //fit columns to width of table
    responsiveLayout:"hide",  //hide columns that don't fit on the table
    pagination:"local",       //paginate the data
    paginationSize:10,         //allow 7 rows per page of data
    paginationCounter:"rows", //display count of paginated rows in footer
    selectableRows:1,

    dataTree:true,
    dataTreeStartExpanded:false,
     
    columns:[       
      {formatter:"rownum", hozAlign:"center", width:40},      //define the table columns
      {title:"ชื่อชุดยา", field:"setName",  },
      // {title:"hm", field:"hm", visible:true },
      // {title:"dose", field:"dose", visible:true },
      // {title:"amount", field:"amount", visible:true },
      {title:"รหัสยาชุด", field:"setId", visible:true},
      {title:"User ID", field:"userId", visible:true },
      {title:"drugSet", field:"drugSet", visible:false },

    
    ],
    
  })

  elements.tableDrugsSets.on("rowClick", (e, row)=>{
    //e - the click event object
    //row - row component
    // console.log(e)
    const rowData = row.getData();
    // console.log(rowData)

    openModalDrugSetsEdit(rowData)


  });


};











</script>