

<script>

  function getDataUsers(){
    loadingStart(); 
    // workingStart('กำลังอัพเดตรายชื่อ')
    google.script.run.withSuccessHandler((dataReturn)=>{
      console.log(dataReturn)

      // loadingEnd();
      workingEnd('สำเร็จ');

      document.getElementById('user_regist_dashboard').classList.remove("d-none")
      document.getElementById('openmodal_adduser_btn').classList.remove("d-none")
      document.getElementById('user_regist_table').classList.remove("d-none")

      const filterTotalCount = dataReturn.length
      const filterApprovedCount = dataReturn.filter( element => element.statusAppr =="Approved").length
      const filterPendingCount = dataReturn.filter( element => element.statusAppr =="Pending").length
      const filterRejectedCount = dataReturn.filter( element => element.statusAppr =="Rejected").length

      // console.log("filterTotalCount " + filterTotalCount)
      // console.log("filterApprovedCount " + filterApprovedCount)
      // console.log("filterPendingCount " + filterPendingCount)
      // console.log("filterRejectedCount " + filterRejectedCount)

      document.getElementById('total_user_regist_count').textContent = filterTotalCount
      document.getElementById('approve_user_regist_count').textContent = filterApprovedCount
      document.getElementById('pending_user_regist_count').textContent = filterPendingCount
      document.getElementById('reject_user_regist_count').textContent = filterRejectedCount

      document.getElementById('show_admin_count_sb').textContent = filterTotalCount
      document.getElementById('show_admin_count_oc').textContent = filterTotalCount


      showTableUsers(dataReturn)

    }).getDataUsers()

  };


  




  function editUserRegistStatus(userInfo,status,level){
    loadingStart()
    // console.log(userInfo)
    // console.log(status)
    // console.log(level)

    google.script.run.withSuccessHandler(()=>{
      // console.log("complete")
      elements.tableUserRegist.updateData([{
        userId:userInfo.userId, 
        statusAppr:status,
        userLevel:level,
      }]); //update data

      const countApproved = elements.tableUserRegist.searchRows("statusAppr", "=", 'Approved').length
      const countPending = elements.tableUserRegist.searchRows("statusAppr", "=", 'Pending').length
      const countRejected = elements.tableUserRegist.searchRows("statusAppr", "=", 'Rejected').length
      const countTotal = Number(countApproved + countRejected + countPending)

      document.getElementById('total_user_regist_count').innerHTML = countTotal
      document.getElementById('approve_user_regist_count').innerHTML = countApproved
      document.getElementById('pending_user_regist_count').innerHTML = countPending
      document.getElementById('reject_user_regist_count').innerHTML = countRejected

      Swal.fire({icon: 'success',title: 'User status has been updated!'})
    }).editUserRegistStatus(userInfo,status,level)

  };










</script>