 


<div class="col d-none " id="pending_view">
    
    
    <!-- <img id="myImage" src="https://lh5.googleusercontent.com/d/1hfYqu3UW8_5EeFGv0AT3wpmMPbB3aAjd" width="200" height="100" alt="Default Image"> -->

    <div class="row mt-4 justify-content-center" >
        <center><h3 class="">ซักประวัติ</h3></center> 
        <div class="col-sm-10 mb-3 mb-sm-0 ">
            <div class="card bg-secondary bg-opacity-10 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">รูปแบบการค้นหา</label>
                            <select class="form-select" id="filtertype_table_pending">
                                <option value="1" selected>วันนี้</option>
                                <option value="2">ระบุวัน</option>
                                <option value="3">ทุก Visit</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">วันที่มารับบริการ</label>
                            <input type="date" class="form-control" id="datefilter_table_pending" disabled>
                        </div>
                        <div class="col">
                            <label class="form-label">ค้นหา</label>
                            <input type="search" class="form-control" id="search_input_table_pending" placeholder="ชื่อ หรือ HN" >
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
        
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-10" >
            <div class="form-check form-check-inline ">
                <span class="text-primary">เลือกสถานะ</span>
            </div>
            <div class="form-check form-check-inline ">
                <input class="form-check-input pointer inlineRadioOptionsPending" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="" checked>
                <label class="form-check-label pointer" for="inlineRadio1">ทั้งหมด</label>
            </div>
            <div class="form-check form-check-inline pointer">
                <input class="form-check-input pointer inlineRadioOptionsPending" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="รอตรวจ">
                <label class="form-check-label pointer" for="inlineRadio3">รอตรวจ</label>
            </div>
            <div class="form-check form-check-inline pointer">
                <input class="form-check-input pointer inlineRadioOptionsPending" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="ตรวจแล้ว">
                <label class="form-check-label pointer" for="inlineRadio4">ตรวจแล้ว</label>
            </div>
            <div class="form-check form-check-inline pointer">
                <input class="form-check-input pointer inlineRadioOptionsPending" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="จ่ายแล้ว">
                <label class="form-check-label pointer" for="inlineRadio5">จ่ายแล้ว</label>
            </div>
            <div class="form-check form-check-inline pointer">
                <input class="form-check-input pointer inlineRadioOptionsPending" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="นัดแล้ว">
                <label class="form-check-label pointer" for="inlineRadio2">นัดแล้ว</label>
            </div>

        </div>
         
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-sm-10 mb-3 mb-sm-0 ">
            <div class="card bg-secondary bg-opacity-10 shadow">
                <div class="card-body">
                    <div class="col-12"  id="pending_table">

                    </div>
                        
                </div>
            </div>
        </div>

    </div>

    
     
 
    

    <div class="row mt-4">
        <center><div class="col-10">golfguitar@gmail.com</div></center>
    </div>

    
  
    
</div>
 