 
<script>


    function getDataOpdVisits(){
        google.script.run.withSuccessHandler((output)=>{
            console.log(output)

            showTableOpdVisit(output); 
            showTableAppointment(output); 
            showTableHistory(output);
            
            setDataForCalendar(output);

            loadingEnd();
            progressbarEnd();


        }).getDataOpdVisits()

    };


    

    // Function to handle radio button change
    function getRadioBtnValue() {
        // Get all radio buttons with the class "inlineRadioOptionsPending"
        const radioButtons = document.querySelectorAll('.inlineRadioOptionsPending');

        // Loop through all radio buttons
        for (let i = 0; i < radioButtons.length; i++) {
            // Check if the current radio button is checked
            if (radioButtons[i].checked) {
                // console.log(radioButtons[i].value);
                // Do something with the selected value, such as storing it in a variable or using it in further logic
                return radioButtons[i].value; // Return the value of the checked radio button
            }
        }

        // If no radio button is checked, return null or handle accordingly
        return null; // Or return a default value or handle the case where no radio button is checked
    };



    function searchTablePending(){
        const dateInput = document.getElementById('datefilter_table_pending').value
        // console.log(dateInput)
        const searchInput = document.getElementById('search_input_table_pending').value
        // console.log(searchInput)
        const statusInput = getRadioBtnValue();
        // console.log(statusInput)

        // ค้นหาทั้งตาราง
        elements.tablePending.setFilter([
            {field:"visitDate",type: "like",value: dateInput}, // search with and
            {field:"opdStatus",type: "like",value: statusInput}, // search with and
            [   
                {field:"hn",type: "like",value: searchInput}, // or
                {field:"firstName",type: "like",value: searchInput}, // or
                {field:"lastName",type: "like",value: searchInput}, // or
            ]
        ]);

    };


     

    // function resetTablePending(){
    //     // elements.tablePending.setFilter([[
    //     //     {field:"patientId", type:"=", value:"xxxx"},
        
    //     // ]])

    //     const dateInput = document.getElementById('datefilter_table_pending').value 
    //     // document.getElementById('datefilter_table_pending').value = getCurrentDate()
    //     // console.log(dateInput)

    //     const searchInput = document.getElementById('search_input_table_pending').value
    //     // console.log(searchInput)
    //     const statusInput = getRadioBtnValue();
    //     // console.log(statusInput)

    //     // ค้นหาทั้งตาราง
    //     elements.tablePending.setFilter([
    //         {field:"visitDate",type: "like",value: dateInput}, // search with and
    //         {field:"opdStatus",type: "like",value: statusInput}, // search with and
    //         [   
    //             {field:"patientId",type: "like",value: searchInput}, // or
    //             {field:"firstName",type: "like",value: searchInput}, // or
    //             {field:"lastName",type: "like",value: searchInput}, // or
    //         ]
    //     ]);

    // };

    


  
    



</script>
 