<script>


 

  function makePdfOpdCard(){
    // console.log("fgfgfgfg")
    console.log(clinicInfo) // global var

    const providerInfo = {}
      providerInfo.fullName = document.getElementById('first_name_config').textContent + " " + document.getElementById('last_name_config').textContent
      providerInfo.license = document.getElementById('user_license_config').textContent 

    console.log(providerInfo)

    const patientId = document.getElementById('patient_id_treat').textContent
    const patientRegistInfo = elements.tablePatientRegist.getRow(patientId).getData();  
    console.log(patientRegistInfo)

    const opdVisitId = document.getElementById('opd_visitid_treat').textContent
    const visitDate = document.getElementById('date_visit_treat').textContent
    const visitTime = document.getElementById('time_visit_treat').textContent

    // const dataPending = elements.tablePending.getRow(opdVisitId).getData();  
    // console.log(dataPending.visitDate)
    // console.log(dataPending.visitTime)

    const piObj = {}
      piObj.wt = document.getElementById('wt_treat').value
      piObj.ht = document.getElementById('ht_treat').value
      piObj.bt = document.getElementById('bt_treat').value
      piObj.bmi = document.getElementById('bmi_treat').value
      piObj.o2sat = document.getElementById('o2sat_treat').value

      piObj.sbp = document.getElementById('sbp_treat').value
      piObj.dbp = document.getElementById('dbp_treat').value
      piObj.pr = document.getElementById('pr_treat').value
      piObj.rr = document.getElementById('rr_treat').value
      piObj.cc = document.getElementById('cc_treat').value
      piObj.pi = document.getElementById('pi_treat').value
      piObj.ph = document.getElementById('ph_treat').value

      // piObj.previousHosp = document.getElementById('previous_hosp_treat').value
      piObj.previousHosp = getValueOfChoiceById("previous_hosp_treat")

      piObj.currentDrug = document.getElementById('current_drug_treat').value
      piObj.growth = document.getElementById('growth_treat').value
      piObj.development = document.getElementById('development_treat').value
      piObj.vaccine = document.getElementById('vaccine_treat').value
      piObj.vaccineincompleteCause = document.getElementById('vaccine_incomplete_cause_treat').value


      
  
    const peObj = {}
      peObj.pe = document.getElementById('pe_treat').value
      peObj.oe = document.getElementById('oe_treat').value
  
    const ixObj = {}
      ixObj.lab = document.getElementById('lab_treat').value
      ixObj.xray = document.getElementById('xray_treat').value
      ixObj.us = document.getElementById('us_treat').value
    
    const dxObj = createObjDataDxTreat();
    // console.log(dxObj)
    // console.log(JSON.stringify(dxObj))
  
    const txObj = createObjDataTxTreat(); 
    // console.log(txObj)

    const hmObj = createObjDataHmTreat();
    // console.log(hmObj)

    const summaryObj = {}
      summaryObj.sumProcedurePrice = document.getElementById('sum_procedure_price_treat').value
      summaryObj.sumHomemedPrice = document.getElementById('sum_homemed_price_treat').value
      summaryObj.totalPrice = document.getElementById('total_price_sum_treat').value
      summaryObj.authenCode = document.getElementById('authen_code_treat').value

      summaryObj.payType = document.getElementById('pay_type_treat').value
      summaryObj.payRemain = document.getElementById('pay_remain_treat').value
      summaryObj.payChannel = document.getElementById('pay_channel_treat').value
      summaryObj.socialSecurity = document.getElementById('social_security_treat').value
      summaryObj.doctorNote = document.getElementById('doctor_note_treat').value
      summaryObj.txPlan = document.getElementById('tx_plan_treat').value
      summaryObj.doctorName = document.getElementById('user_fullname_status').textContent 
      summaryObj.doctorId = document.getElementById('user_id_status').textContent  

      summaryObj.dischargeType = document.getElementById('discharge_type_treat').value
      // summaryObj.refertoHosp = elements["referto_hosp_treat"].choicesInstance?.getValue(true) || '';  // getValue of choice โดยที่รับค่าจาก elements["referto_hosp_treat"]
      summaryObj.refertoHosp =  getValueOfChoiceById("referto_hosp_treat"); // getValue of choice โดยที่รับค่าจาก elements["referto_hosp_treat"]
      

      
    // console.log(summaryObj)
    const dataPending = elements.tablePending.getRow(opdVisitId).getData();  
    // console.log(dataPending.appointmentData)

    
    const appointmentObj = (Object.keys(dataPending.appointmentData).length === 0 || dataPending.appointmentData.description?.roomName === "") 
    ? '' : dataPending.appointmentData;

    console.log(appointmentObj)


    const opdStatus = document.getElementById('pay_type_treat').value == "" ? "ตรวจแล้ว": "จ่ายแล้ว"

 

    // ส่งไปตารางหน้าบ้าน ส่งเป็น obj
    const opdVisitInfo = {}
      opdVisitInfo.opdVisitId = opdVisitId
      opdVisitInfo.visitDate = visitDate
      opdVisitInfo.visitTime = visitTime
      opdVisitInfo.opdStatus = opdStatus
      opdVisitInfo.piData = piObj
      opdVisitInfo.peData = peObj
      opdVisitInfo.ixData = ixObj
      opdVisitInfo.dxData = dxObj
      opdVisitInfo.txData = txObj
      opdVisitInfo.hmData = hmObj
      opdVisitInfo.summaryData = summaryObj
      opdVisitInfo.appointmentData = appointmentObj
      
      
    console.log(opdVisitInfo)


    


    runPdfMakemakePdfOpdCardNurse(clinicInfo,providerInfo,patientRegistInfo,opdVisitInfo)

    

  };





  function runPdfMakemakePdfOpdCardNurse(clinicInfo,providerInfo,patientRegistInfo,opdVisitInfo){
    const dateStamp = toThaiDateString(new Date());
    const currentYear = new Date().getFullYear() + 543;
    const timeStamp = getCurrentTime();
    const fileName = patientRegistInfo.identityData.firstName + ' ' + patientRegistInfo.identityData.lastName + ' CID ' + patientRegistInfo.cid
    const opdcardId = generateUniqueId();
    
    const patientAge = calculateAge(patientRegistInfo.identityData.birthDay); // คำนวนอายุ return obj

    // document.getElementById("age_pt_regist").value = `${patientAge.years}`

    pdfMake.fonts = {
      THSarabunNew:{
        normal: "https://Pichit-Raetai.github.io/font/THSarabunNew.ttf",
        bold: "https://Pichit-Raetai.github.io/font/THSarabunNew Bold.ttf",
        italics: "https://Pichit-Raetai.github.io/font/THSarabunNew Italic.ttf",
        bolditalics: "https://Pichit-Raetai.github.io/font/THSarabunNew BoldItalic.ttf",
        
      }

    }
    const docDefinition = {
      pageSize: 'A4',
      
      images: {
        // bg: {
        //   url: 'https://lh5.googleusercontent.com/d/1FeMKOWqyshLdarXuYzLRvc3NduzWA3p6',
        //   // width: 100,
        //   // height: 100,
        //   // margin: [100,100,100,100], // [ซ้าย,บน,ขวา,ล่าง]
        //   // width: 150,
        //   // height: 150

        // },
        logo:{
          url: logo_clinic,
        }
        
        
      },
      // background: function(currentPage, pageSize) {
      //   return [{
      //     image:'bg',
      //     width: pageSize.width,
      //     height: pageSize.height
      //   }]
      // },
      watermark: { text: clinicInfo.name, color: 'blue', opacity: 0.1, bold: true, italics: false },

      
      
      content: [

        {
          columns: [
            {
              text: [ 
                {text: clinicInfo.hosName + '\n', bold: false, fontSize: 12,margin: [0,0,0,0], },
                {text: clinicInfo.hosAddress + '\n' , fontSize: 12},
                {text: 'โทร: '  + clinicInfo.hosPhone + ', FB: ' + clinicInfo.faceBook + ', LineID: ' + clinicInfo.lineId, fontSize: 12},
                {text: ', Website: '  + clinicInfo.webSite , fontSize: 12},


              ],
              alignment: 'left',
              margin: [0,10,0,0], // [ซ้าย,บน,ขวา,ล่าง]
            },
            {
              image: 'logo',
              width: 65,
              height: 65
            },
            {
              text: [ 
                {text: 'รหัสหน่วยบริการ: ' },
                {text: clinicInfo.hosCode + '\n', style:'textinput'},
                {text: 'เลขประจำตัวผู้มารับบริการ: ' },
                {text: patientRegistInfo.incrementHn + '/' + currentYear +  '\n', style:'textinput'},
                {text: 'Authen code: ' },
                {text:  opdVisitInfo.summaryData.authenCode + '\n' , style:'textinput'},
                
              ],
              fontSize: 12,
              alignment: 'right',
              margin: [0,10,0,0], // [ซ้าย,บน,ขวา,ล่าง]
            },
          ],
          margin: [0,-20,0,0], // [ซ้าย,บน,ขวา,ล่าง]
        },
       
        
        {
          style: 'tableExample',
          color: '#444',
          table: {
            widths: ['*', '*'],
            headerRows: 2,
            // keepWithHeaderRows: 1,
            body: [
              [
                {
                  text: [
                    {text: 'OPD Card (เวชระเบียนผู้ป่วยนอก)\n' , fontSize: 16,bold: true,},
                    {text: 'วันที่มา ' + opdVisitInfo.visitDate + ' ', fontSize: 12},
                    {text:  opdVisitInfo.visitTime + ' น.', fontSize: 12},
                  ],
                  style: 'tableHeader',
                  alignment: 'center',
                  colSpan: 2,
                },
                {}
              ],
              [
                {
                  text: [
                    {text: 'ข้อมูลส่วนตัวผู้ป่วย:' + '\n',bold: true, fontSize: 12, decoration: 'underline'},
        
                    {text: 'ชื่อ ' },
                    {text: patientRegistInfo.identityData.firstName + ' ' + patientRegistInfo.identityData.lastName + ', ', style:'textinput'},
                    {text: 'HN ' },
                    {text: patientRegistInfo.incrementHn + ', ', style:'textinput'},
                     
                    {text: 'CID ' },
                    {text: patientRegistInfo.cid + ', ' , style:'textinput'},

                    {text: 'วันเกิด '  },
                    {text: patientRegistInfo.identityData.birthDay + ', ', style:'textinput'},

                    {text: 'อายุ ' },
                    {text: `${patientAge.years}` , style:'textinput'},
                    {text:  ' ปี,' },

                    {text: 'เพศ ' },
                    {text: patientRegistInfo.identityData.gender + ', ', style:'textinput'},

                    {text: 'อาชีพ ' },
                    {text: patientRegistInfo.otherData.occupation + ', ', style:'textinput'},

                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: ' ที่อยู่ ' },
                    {text: document.getElementById("patient_address_treat").textContent + ', ', style:'textinput'},

                    {text: ' เบอร์โทร '  },
                    {text: patientRegistInfo.contactData.phoneNumber1 + ', ', style:'textinput'},
                    {text: patientRegistInfo.contactData.phoneNumber2, style:'textinput'},

                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: ' โรคประจำตัว ' },
                    // {text: patientRegistInfo.medicalData.underlying + ', ', style:'textinput'},
                    {text: (patientRegistInfo.medicalData.underlying !== undefined && patientRegistInfo.medicalData.underlying !== '') ? patientRegistInfo.medicalData.underlying : '- , ', style:'textinput'},
                    

                    {text: 'แพ้ยา/อาหาร/สารเคมี ' },
                    // {text: patientRegistInfo.medicalData.drugAllergy + ', ', style:'textinput'},
                    {text: (patientRegistInfo.medicalData.drugAllergy !== undefined && patientRegistInfo.medicalData.drugAllergy !== '') ? patientRegistInfo.medicalData.drugAllergy : '- , ', style:'textinput'},


                    {text: 'สิทธิ์การรักษา ' },
                    {text: patientRegistInfo.medicalData.healthWelfare, style:'textinput'},

                    
                  ],
                  style: 'tableHeader', colSpan: 2, alignment: 'left'
                }, 
                {}
              ],
              [
                {
                  text: [
                    {text: 'ประวัติ:' + '\n',bold: true, fontSize: 12,decoration: 'underline'},

                    {text: 'น้ำหนัก ' },
                    {text: opdVisitInfo.piData.wt , style:'textinput'},
                    {text: ' กก, ' },
                    {text: 'ส่วนสูง '},
                    {text: opdVisitInfo.piData.ht , style:'textinput'},
                    {text: ' ซม, ' },
                    {text: 'BMI '},
                    {text: opdVisitInfo.piData.bmi , style:'textinput'},
                    {text: ' กก/ม, '},
                    {text: 'O2Sat '},
                    {text: opdVisitInfo.piData.o2sat , style:'textinput'},
                    {text: ' % '},

                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: 'BT ' },
                    {text: opdVisitInfo.piData.bt , style:'textinput'},
                    {text: ' องศา, ' },
                    {text: 'BP ' },
                    {text: opdVisitInfo.piData.sbp + "/" + opdVisitInfo.piData.dbp, style:'textinput'},
                    {text: ' mmHg, ' },
                    {text: 'PR ' },
                    {text: opdVisitInfo.piData.pr, style:'textinput'},
                    {text: ' bpm, ' },
                    {text: 'RR ' },
                    {text: opdVisitInfo.piData.rr, style:'textinput'},
                    {text: ' bpm ' },
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'CC: ' },
                    {text: opdVisitInfo.piData.cc, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'PI: ' },
                    {text: opdVisitInfo.piData.pi, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'PH: ' },
                    {text: opdVisitInfo.piData.ph, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    
                    {text: 'การรักษาก่อนหน้า: '  },
                    {text: opdVisitInfo.piData.previousHosp, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'ยาที่ใช้ปัจจุบัน: '  },
                    {text: opdVisitInfo.piData.currentDrug, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'กรณีเด็กอายุ 0-12 ปี:' + '\n',bold: true, fontSize: 12,decoration: 'underline'},
                    {text: 'การเจริญเติบโต: '  },
                    {text: opdVisitInfo.piData.growth, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: 'พัฒนาการ: '  },
                    {text: opdVisitInfo.piData.development, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: 'ประวัติการรับวัคซีน: '  },
                    {text: opdVisitInfo.piData.vaccine, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: 'กรณีไม่ครบ ระบุ..: '  },
                    {text: opdVisitInfo.piData.vaccineincompleteCause, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'ตรวจร่างกาย:' + '\n',bold: true, fontSize: 12,decoration: 'underline'},
                    {text: 'PE: '  },
                    {text: opdVisitInfo.peData.pe, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: 'OE: '  },
                    {text: opdVisitInfo.peData.oe, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    
                    {text: 'Investigation:' + '\n',bold: true, fontSize: 12,decoration: 'underline'},
                    {text: 'LAB: '  },
                    {text: opdVisitInfo.ixData.lab, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'IMAGING: '  },
                    {text: opdVisitInfo.ixData.xray, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'US: '  },
                    {text: opdVisitInfo.ixData.us, style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
 
                    
                  ],
                  rowSpan: 4,
                  margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
                },
                {
                  text: [

                    {text: 'วินิจฉัย: ' + '\n',bold: true, fontSize: 12,decoration: 'underline'},
                    {text: (opdVisitInfo.dxData.dx1 !== undefined && opdVisitInfo.dxData.dx1 !== '') ? '1.' + opdVisitInfo.dxData.dx1 : '', style: 'textinput'},
                    {text: opdVisitInfo.dxData.icd1 && opdVisitInfo.dxData.icd1.trim() !== '' ? ' (' + opdVisitInfo.dxData.icd1 + ') ' : '' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.dxData.dx2 !== undefined ? '2.' + opdVisitInfo.dxData.dx2 : '' , style:'textinput'},
                    {text: opdVisitInfo.dxData.icd2 && opdVisitInfo.dxData.icd2.trim() !== '' ? ' (' + opdVisitInfo.dxData.icd2 + ') ' : '' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.dxData.dx3 !== undefined ? '3.' + opdVisitInfo.dxData.dx3 : '' , style:'textinput'},
                    {text: opdVisitInfo.dxData.icd3 && opdVisitInfo.dxData.icd3.trim() !== '' ? ' (' + opdVisitInfo.dxData.icd3 + ') ' : '' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.dxData.dx4 !== undefined ? '4.' + opdVisitInfo.dxData.dx4 : '' , style:'textinput'},
                    {text: opdVisitInfo.dxData.icd4 && opdVisitInfo.dxData.icd4.trim() !== '' ? ' (' + opdVisitInfo.dxData.icd4 + ') ' : '' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.dxData.dx5 !== undefined ? '5.' + opdVisitInfo.dxData.dx5 : '' , style:'textinput'},
                    {text: opdVisitInfo.dxData.icd5 && opdVisitInfo.dxData.icd5.trim() !== '' ? ' (' + opdVisitInfo.dxData.icd5 + ') ' : '' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่



                    {text: 'การรักษา: ' + '\n',bold: true, fontSize: 12,decoration: 'underline'},
                    {text: (opdVisitInfo.txData.tx1 !== undefined && opdVisitInfo.txData.tx1 !== '') ? '1.' + opdVisitInfo.txData.tx1 : '', style: 'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx2 !== undefined ? '2.' + opdVisitInfo.txData.tx2 : '' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx3 !== undefined ? '3.' + opdVisitInfo.txData.tx3 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx4 !== undefined ? '4.' + opdVisitInfo.txData.tx4 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx5 !== undefined ? '5.' + opdVisitInfo.txData.tx5 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx6 !== undefined ? '6.' + opdVisitInfo.txData.tx6 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx7 !== undefined ? '7.' + opdVisitInfo.txData.tx7 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx8 !== undefined ? '8.' + opdVisitInfo.txData.tx8 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx9 !== undefined ? '9.' + opdVisitInfo.txData.tx9 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: opdVisitInfo.txData.tx10 !== undefined ? '10.' + opdVisitInfo.txData.tx10 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    

                     
                    {text: 'Homemed: ' + '\n',bold: true, fontSize: 12,decoration: 'underline'},
                    {text: (opdVisitInfo.hmData.hm1 !== undefined && opdVisitInfo.hmData.hm1 !== '') ? '1.' + opdVisitInfo.hmData.hm1.split('/')[0] : '', style: 'textinput'},
                    {text: opdVisitInfo.hmData.dose1 !== undefined ? ' ' + opdVisitInfo.hmData.dose1.split('/')[0] : '', style:'textinput'},
                    {text: (opdVisitInfo.hmData.amount1 !== undefined && opdVisitInfo.hmData.amount1 !== '') ? ' # ' + opdVisitInfo.hmData.amount1 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm2 !== undefined ? '2.' + opdVisitInfo.hmData.hm2.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose2 !== undefined ? ' ' + opdVisitInfo.hmData.dose2.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount2 !== undefined ? ' # ' + opdVisitInfo.hmData.amount2 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm3 !== undefined ? '3.' + opdVisitInfo.hmData.hm3.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose3 !== undefined ? ' ' + opdVisitInfo.hmData.dose3.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount3 !== undefined ? ' # ' + opdVisitInfo.hmData.amount3 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm4 !== undefined ? '4.' + opdVisitInfo.hmData.hm4.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose4 !== undefined ? ' ' + opdVisitInfo.hmData.dose4.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount4 !== undefined ? ' # ' + opdVisitInfo.hmData.amount4 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm5 !== undefined ? '5.' + opdVisitInfo.hmData.hm5.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose5 !== undefined ? ' ' + opdVisitInfo.hmData.dose5.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount5 !== undefined ? ' # ' + opdVisitInfo.hmData.amount5 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm6 !== undefined ? '6.' + opdVisitInfo.hmData.hm6.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose6 !== undefined ? ' ' + opdVisitInfo.hmData.dose6.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount6 !== undefined ? ' # ' + opdVisitInfo.hmData.amount6 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm7 !== undefined ? '7.' + opdVisitInfo.hmData.hm7.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose7 !== undefined ? ' ' + opdVisitInfo.hmData.dose7.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount7 !== undefined ? ' # ' + opdVisitInfo.hmData.amount7 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm8 !== undefined ? '8.' + opdVisitInfo.hmData.hm8.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose8 !== undefined ? ' ' + opdVisitInfo.hmData.dose8.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount8 !== undefined ? ' # ' + opdVisitInfo.hmData.amount8 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm9 !== undefined ? '9.' + opdVisitInfo.hmData.hm9.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose9 !== undefined ? ' ' + opdVisitInfo.hmData.dose9.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount9 !== undefined ? ' # ' + opdVisitInfo.hmData.amount9 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: opdVisitInfo.hmData.hm10 !== undefined ? '10.' + opdVisitInfo.hmData.hm10.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.dose10 !== undefined ? ' ' + opdVisitInfo.hmData.dose10.split('/')[0] : '', style:'textinput'},
                    {text: opdVisitInfo.hmData.amount10 !== undefined ? ' # ' + opdVisitInfo.hmData.amount10 : '', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'แผนการรักษา: ' ,bold: true, fontSize: 12,decoration: 'underline'},
                    {text: opdVisitInfo.summaryData.txPlan + ' ', style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    

                    {text: 'สถานะ: ' ,bold: true, fontSize: 12,decoration: 'underline'},
                    {text: opdVisitInfo.summaryData.dischargeType !== undefined ?  opdVisitInfo.summaryData.dischargeType : ',' , style:'textinput'},
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: ' ส่งต่อไปที่: ' ,bold: true, fontSize: 12,decoration: 'underline'  },
                    {text: opdVisitInfo.summaryData.refertoHosp, style:'textinput', },
                    {text: '\n'}, // ขั้นบรรทัดใหม่

                    {text: 'นัดครั้งต่อไป:' ,bold: true, fontSize: 12,decoration: 'underline'},
                    {text: (opdVisitInfo.appointmentData !== undefined && opdVisitInfo.appointmentData !== '') ? ' ' 
                      + toThaiDateStringShort(new Date(opdVisitInfo.appointmentData.description.startDate)) 
                      + ' เวลา: ' 
                      + opdVisitInfo.appointmentData.description.startTime
                      + ' ที่: ' 
                      + opdVisitInfo.appointmentData.description.roomName
                      : '', 
                      style: 'textinput'
                    },

                  ],
                  rowSpan: 4,
                  
                },
              
              ],

              [
                { }, 
                { }
              ],
              [
                { }, 
                {
                   
                }

              ],
              
              [{ }, 
                { 

                }
              ],
              [
                {
                  text: [
                    {text: 'ลงชื่อผู้รับบริการ' },
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: '(' + patientRegistInfo.identityData.firstName + ' ' + patientRegistInfo.identityData.lastName + ')', style:'textinput',alignment: 'center',},
 
                  ]

                },
                {
                  text: [
                    {text: 'ลงชื่อผู้รักษา' },
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: '\n'}, // ขั้นบรรทัดใหม่
                    {text: '(' + providerInfo.fullName + ' , ' + providerInfo.license + ')', style:'textinput',alignment: 'center',},

                  ]

                },
              ],
              
            ]
          }
        },


        // {
        //   columns: [
        //     {
        //       text: [
        //         {text: 'วันที่พิมพ์: ' },
        //         {text:  dateStamp, },
        //         {text: 'เวลา ' + timeStamp + ' น.', },
 
                
        //       ],
        //       fontSize: 12,
        //       alignment: 'right',
        //       margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
        //     },
        //   ],
           
        // },
       
        
        
         
 
        
        
      ],



      footer: function (currentPage, pageCount) {
        return {
          text: [
            {text: 'รหัสอ้างอิง ' + opdcardId , },
            {text: ' วันที่พิมพ์: ' },
            {text:  dateStamp, },
            {text: 'เวลา ' + timeStamp + ' น.', },
            
          ],
          fontSize: 12,
          alignment: 'right',
          margin: [0,0,40,0], // [ซ้าย,บน,ขวา,ล่าง]
          
        };
      },

      defaultStyle:{
        font: "THSarabunNew",
      },
      styles: {
        textinput: {
          fontSize: 12,
          bold: true,
          // decoration: 'underline',
          // decorationStyle:'dotted'
        },
        
      },

      

      // styles: {
      //   header: {
      //     fontSize: 18,
      //     bold: true,
      //     alignment: 'right',
      //     margin: [0, 190, 0, 80]
      //   },
      //   subheader: {
      //     fontSize: 14
      //   },
      //   superMargin: {
      //     margin: [20, 0, 40, 0],
      //     fontSize: 15
      //   }
      // }
    }

    // สั่งให้สร้าง pdf พร้อมกับ download
    pdfMake.createPdf(docDefinition).open()
    pdfMake.createPdf(docDefinition).download( fileName +'.pdf');

  };




</script>