

<script>

function openModalReceipt(){
  console.log("openModalReceipt")
  let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('receipt_modal')) // Returns a Bootstrap modal instance
  // Show or hide:
  modal.show();
  // modal.hide();

};


function makePdfReceiptTh(){
  console.log("makePdfReceiptTh")

  const patientId = document.getElementById('patient_hn_treat').textContent
  const row = elements.tablePatientRegist.getRow(patientId); //return row component with index of 1
  const rowData = row.getData();
  console.log(rowData)
  
 
  const payInfo = {}
    payInfo.cash = document.getElementById('pay_route1').checked ? logo_check : logo_uncheck
    payInfo.promptpay = document.getElementById('pay_route2').checked ? logo_check : logo_uncheck
    payInfo.bank = document.getElementById('pay_route3').checked ? logo_check : logo_uncheck
    payInfo.credit = document.getElementById('pay_route4').checked ? logo_check : logo_uncheck
  
 
  runMakePdfReceiptTh(rowData,clinicInfo,payInfo);

};




function runMakePdfReceiptTh(patientInfo,clinicInfo,payInfo){
  console.log("create_doc_receipt_btn")

  const date = toThaiDateString(new Date())
  const fileName = patientInfo.firstName + ' ' + patientInfo.lastName + ' CID ' + patientInfo.cid

  pdfMake.fonts = {
    THSarabunNew:{
      normal: "https://Pichit-Raetai.github.io/font/THSarabunNew.ttf",
      bold: "https://Pichit-Raetai.github.io/font/THSarabunNew Bold.ttf",
      italics: "https://Pichit-Raetai.github.io/font/THSarabunNew Italic.ttf",
      bolditalics: "https://Pichit-Raetai.github.io/font/THSarabunNew BoldItalic.ttf",
      
    }

  }
  const docDefinition = {
    pageSize: 'A4',
    info: {
      title: fileName,
      author: clinicInfo.name,
      subject: 'ใบเสร็จรับเงิน',
      keywords: 'ใบเสร็จรับเงิน receipt',
      },
    
    images: {
      // bg: {
      //   url: 'https://lh5.googleusercontent.com/d/1FeMKOWqyshLdarXuYzLRvc3NduzWA3p6',
      //   // width: 100,
      //   // height: 100,
      //   // margin: [100,100,100,100], // [ซ้าย,บน,ขวา,ล่าง]
      //   // width: 150,
      //   // height: 150

      // },
      logo:{
        url: logo_clinic,
      },
      check:{
        url: logo_check,
      },
      uncheck:{
        url: logo_uncheck,
      },
      qrcode:{
        url: qrcode_test,
      },

      cash:{
        url:payInfo.cash,
      },
      promptpay:{
        url:payInfo.promptpay,
      },
      bank:{
        url:payInfo.bank,
      },
      credit:{
        url:payInfo.credit,
      }
      
      
    },
    // background: function(currentPage, pageSize) {
    //   return [{
    //     image:'bg',
    //     width: pageSize.width,
    //     height: pageSize.height
    //   }]
    // },
    watermark: { text: clinicInfo.name, color: 'blue', opacity: 0.1, bold: true, italics: false },

    
    
    content: [
      // {
      //   image: 'logo',
      //   width: 100,
      //   height: 100
      // },
      {
        columns: [
          {
            image: 'logo',
            width: 65,
            height: 65
          },
          {
            text: [
              {text: clinicInfo.name + '\n', bold: false, fontSize: 14,margin: [0,0,0,0],},
              {text: '123/3 ม.3 ต.เมืองเก่า อ.เมือง จ.สกลนคร 32322' + '\n' , fontSize: 14},
              {text: 'โทร 099-9999999' + '\n' , fontSize: 14},
               
            ],
            alignment: 'right',
            margin: [0,10,0,0], // [ซ้าย,บน,ขวา,ล่าง]
          },
           
        ]

      },
      {
        text: 'ใบเสร็จรับเงิน',
        style: 'header',
        alignment: 'center',
        bold: true,
        // italics: true,
        fontSize: 20,
        margin: [0,0,0,10], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          {text: 'เลขที่ ', fontSize: 16},
          {text: clinicInfo.receiptNo + ' ', bold: true, fontSize: 16}, 
        ],
        alignment: 'right',
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          'วันที่ ' + date + '\n',
          ],
        style: ['quote', 'small'],
        bold: false,
        fontSize: 16,
        alignment: 'center',
        margin: [0,0,0,10], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          {text: 'ชื่อผู้มารับบริการ ' , fontSize: 16},
          {text: patientInfo.firstName + ' ' , bold: true, fontSize: 16},
          {text: patientInfo.lastName + ' ', bold: true, fontSize: 16},
          {text: 'เลขประจำตัวประชาชน ' , fontSize: 16},
          {text:  patientInfo.cid + '\n' , bold: true, fontSize: 16},
        ],
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          {text: 'ที่อยู่ ', fontSize: 16},
          {text: 
            document.getElementById("patient_address_treat").textContent + ' ', bold: true, fontSize: 16}, 
        ],
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        style: 'tableExample',
        table: {
          headerRows: 1,
          widths: [30, '*', 60, 60, 60],
          body: [
            [
              {text: 'ลำดับ', style: 'tableHeader'},
              {text: 'รายการ', style: 'tableHeader'},
              {text: 'หน่วยละ(บาท)', style: 'tableHeader'},
              {text: 'จำนวน(หน่วย)', style: 'tableHeader'},
              {text: 'ราคา(บาท)', style: 'tableHeader'},
            ],
            [
              {text: '1', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '2', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '3', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '4', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '5', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '6', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '7', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '8', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '9', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {text: '10', bold: true, italics: true, color: 'gray', alignment: 'right'}, 
              {text: 'nothing interesting here', italics: true, color: 'gray'}, 
              {text: '100.00', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '2', italics: true, color: 'gray', alignment: 'right'}, 
              {text: '200.00', italics: true, color: 'gray', alignment: 'right'}
            ],
            [
              {
                colSpan: 5,
                border: [true, true, true, false],
                columns: [
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: 'รวมเป็นเงินทั้งสิ้น', bold: true, fontSize: 12, alignment: 'right'},
                  {text: patientInfo.priceTotal , bold: true, fontSize: 12, alignment: 'right'},
                  {text: 'บาท', bold: true, fontSize: 12, alignment: 'right'},
                ],
              },
            ],
            [
              {
                colSpan: 5,
                border: [true, false, true, true],
                columns: [
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: 'ส่วนลด', bold: true, fontSize: 12, alignment: 'right'},
                  {text: patientInfo.priceDiscount , bold: true, fontSize: 12, alignment: 'right'},
                  {text: 'บาท', bold: true, fontSize: 12, alignment: 'right'},
                ],
              },
            ],
            [
              {
                colSpan: 5,
                border: [true, false, true, true],
                fillColor: '#cccccc',
                columns: [
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: 'คงเหลือ', bold: true, fontSize: 14, alignment: 'right'},
                  {text: patientInfo.priceLast , bold: true, fontSize: 14, alignment: 'right'},
                  {text: 'บาท', bold: true, fontSize: 14, alignment: 'right'},
                ],
              },
            ],
          ]
        }
      },

      
      
       
       
 
      {
        text: [
          {text: 'รวมยอดที่ต้องชำระ ' , bold: true, fontSize: 18 },
          {text: patientInfo.priceLast, bold: true, fontSize: 18 },
          {text: ' บาท ' , bold: true, fontSize: 18 },
          {text: '(' + patientInfo.priceString + ')', bold: true, fontSize: 18 },
        ],
        margin: [0,10,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },

      {
        columns: [
                  {text: 'ช่องทางการชำระเงิน', bold: true, fontSize: 14},
                  {text: 'QR Code สำหรับชำระเงิน', bold: true, fontSize: 14,alignment: 'right'},
        ],
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]

      },

      {
        columns: [
          {
            table: {
              headerRows: 1,
              widths: [30, 200],
              body: [
                [
                  {image: 'cash',width: 10,height: 10,alignment: 'center'  },
                  {text: 'เงินสด', italics: true}, 
                ],
                [
                  {image: 'promptpay',width: 10,height: 10,alignment: 'center'  },
                  {text: 'พร้อมเพย์', italics: true}, 
                ],
                [
                  {image: 'bank',width: 10,height: 10,alignment: 'center'  },
                  {text: 'โอนผ่านบัญชีธนาคาร', italics: true}, 
                ],
                [
                  {image: 'credit',width: 10,height: 10,alignment: 'center'  },
                  {text: 'บัตรเครดิต', italics: true}, 
                  
                ],
                
              ]
            }
          },
          
          { 
            image: 'qrcode',width: 90,height: 90, alignment: 'center'
          },
        ],
        
      },
      {
        columns: [
                  {text: 'ลงชื่อ..............................................ผู้มารับบริการ' + '\n' + patientInfo.firstName + ' ' + patientInfo.lastName, alignment: 'center' }, 
                  {text: 'ลงชื่อ..............................................ผู้รับเงิน' + '\n' + patientInfo.doctorTx  , alignment: 'center' }, 
                  
                  
                   
        ],
        margin: [0, 60, 0, 0]
        
      },

       

      
      
      
       
    ],

    defaultStyle:{
      font: "THSarabunNew",
    },
    styles: {
      tableHeader: {
        fillColor: '#cccccc',
        fontSize: 14,
        bold: true,
        alignment: 'center',
        margin: [0, 0, 0, 0]
      },
       
    }
  }

  pdfMake.createPdf(docDefinition).open()
  // pdfMake.createPdf(docDefinition).download(fileName+'.pdf');

};


</script>
