

<script>

function openModalReceipt(){
  console.log("openModalReceipt")
  let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('receipt_modal'))  
  modal.show(); // modal.hide(); modal.show();

  document.getElementById('df_price_receipt').value = document.getElementById('sum_df_price_treat').value
  document.getElementById('procedure_price_receipt').value = document.getElementById('sum_procedure_price_treat').value
  document.getElementById('hm_price_receipt').value = document.getElementById('sum_homemed_price_treat').value
  document.getElementById('total_price_receipt').value = document.getElementById('total_price_sum_treat').value

  
};
 


function getArrDataTxTreatByClass() {
  // Select all elements with the class '.input-tx-treat'
  const inputsTx = document.querySelectorAll('.input-tx-treat');

  // Create an array to hold the values
  const txArray = Array.from(inputsTx).map(input => {
    // If Choice.js is applied, get the selected value
    if (input.choicesInstance) {
      return input.choicesInstance.getValue(true); // Get the value
    } else {
      return input.value; // Fallback to the input's raw value
    }
  });

  // console.log(txArray);

  // Initialize an array to store the transformed values
  let tranformTxArr = [];

  for (let i = 0; i < txArray.length; i += 3) {
    // Check if txArray[i] is undefined
    if (txArray[i] === undefined || txArray[i + 2] === undefined) {
      tranformTxArr = []; // Reset tranformTxArr to an empty array
      break;             // Exit the loop
    }

    // Add values to the transformed array
    tranformTxArr.push(txArray[i] + " " + txArray[i + 1]); // Add the original element at index 0, 3, 6,...
    tranformTxArr.push("-");     // Replace index 1 with value at index 2
    tranformTxArr.push("-");                // Insert "1"
    tranformTxArr.push(txArray[i + 2]);     // Add index 2 again
  }

  // Log the transformed array
  console.log(tranformTxArr);

  return tranformTxArr;
}







function getArrDataHmTreatByClass() {
  const inputsHm = document.querySelectorAll('.input-hm-treat');
  const hmArray = Array.from(inputsHm).map(input =>
    input.choicesInstance ? input.choicesInstance.getValue(true) : input.value || ""
  );

  if (hmArray.length === 0 || hmArray.some(val => !val)) return [];

  for (let i = 0; i < hmArray.length; i += 4) {
    if (typeof hmArray[i] !== 'string') return [];
    const splitValue = hmArray[i].split("/")[2] || "";
    if (hmArray[i + 1] === undefined) return [];
    hmArray[i + 1] = splitValue;
  }

  return hmArray.every(val => !val) ? [] : hmArray;
}








function makePdfReceiptTh(){
  // console.log("makePdfReceiptTh") 
  const patientId = document.getElementById('patient_id_treat').textContent
  const patientRegistInfo = elements.tablePatientRegist.getRow(patientId).getData();  
  // console.log(patientRegistInfo)
  
  // console.log(clinicInfo) // global var

  const tranformTxArr = getArrDataTxTreatByClass();
  const hmArray = getArrDataHmTreatByClass()

  const mergedArray = tranformTxArr.concat(hmArray);
  console.log(mergedArray);


  const payInfo = {} 
    payInfo.dfPrice = document.getElementById('sum_df_price_treat').value
    payInfo.procedurePrice = document.getElementById('sum_procedure_price_treat').value
    payInfo.hmPrice = document.getElementById('sum_homemed_price_treat').value
    payInfo.totalPrice = document.getElementById('total_price_sum_treat').value
    payInfo.totalStringPrice = arabicNumberToText(document.getElementById('total_price_sum_treat').value)


    payInfo.cash = document.getElementById('pay_channel_treat').value == 'เงินสด' ? logo_check : logo_uncheck
    payInfo.promptpay = document.getElementById('pay_channel_treat').value == 'พร้อมเพย์' ? logo_check : logo_uncheck
    payInfo.bank = document.getElementById('pay_channel_treat').value == 'บัญชีธนาคาร' ? logo_check : logo_uncheck
    payInfo.credit = document.getElementById('pay_channel_treat').value == 'รูดบัตร'? logo_check : logo_uncheck


  const providerInfo = {}
    providerInfo.fullName = document.getElementById('first_name_config').textContent + " " + document.getElementById('last_name_config').textContent
    providerInfo.license = document.getElementById('user_license_config').textContent 

  runMakePdfReceiptTh(patientRegistInfo,clinicInfo,payInfo,providerInfo,mergedArray);

};



//**************************************************************************************
// สร้าง PDF
//**************************************************************************************

function runMakePdfReceiptTh(patientRegistInfo,clinicInfo,payInfo,providerInfo,mergedArray){
  // console.log("create_doc_receipt_btn")
  const dateStamp = toThaiDateString(new Date());
  const timeStamp = getCurrentTime();
   
  const fileName = patientRegistInfo.identityData.firstName + ' ' + patientRegistInfo.identityData.lastName + ' CID ' + patientRegistInfo.identityData.cid
  const receiptId = generateUniqueId();


  // Grouping the flat array into structured rows (4 elements per row)
  const groupedArray = [];
  for (let i = 0; i < mergedArray.length; i += 4) {
    groupedArray.push([
      mergedArray[i],     // Description
      mergedArray[i + 1], // Unit Price
      mergedArray[i + 2], // Quantity
      mergedArray[i + 3], // Total Price
    ]);
  }

  // Remove commas and convert strings to numbers using parseFloat
  // payInfo.dfPrice + payInfo.procedurePrice
  const sum = parseFloat(payInfo.dfPrice.replace(/,/g, '')) + parseFloat(payInfo.procedurePrice.replace(/,/g, ''));

  // Format the result to two decimal places and include commas
  const formattedSum = sum.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });

  console.log(formattedSum);  // Outputs: 5,000.00

  pdfMake.fonts = {
    THSarabunNew:{
      normal: "https://Pichit-Raetai.github.io/font/THSarabunNew.ttf",
      bold: "https://Pichit-Raetai.github.io/font/THSarabunNew Bold.ttf",
      italics: "https://Pichit-Raetai.github.io/font/THSarabunNew Italic.ttf",
      bolditalics: "https://Pichit-Raetai.github.io/font/THSarabunNew BoldItalic.ttf",
      
    }

  }
  const docDefinition = {
    pageSize: 'A4',
    info: {
      title: fileName,
      author: clinicInfo.hosName,
      subject: 'ใบเสร็จรับเงิน',
      keywords: 'ใบเสร็จรับเงิน receipt',
      },
    
    images: {
      // bg: {
      //   url: 'https://lh5.googleusercontent.com/d/1FeMKOWqyshLdarXuYzLRvc3NduzWA3p6',
      //   // width: 100,
      //   // height: 100,
      //   // margin: [100,100,100,100], // [ซ้าย,บน,ขวา,ล่าง]
      //   // width: 150,
      //   // height: 150

      // },
      logo:{
        url: logo_clinic,
      },
      check:{
        url: logo_check,
      },
      uncheck:{
        url: logo_uncheck,
      },
      qrcode:{
        url: qrcode_pay_receipt,
      },

      cash:{
        url:payInfo.cash,
      },
      promptpay:{
        url:payInfo.promptpay,
      },
      bank:{
        url:payInfo.bank,
      },
      credit:{
        url:payInfo.credit,
      }
      
      
    },
    // background: function(currentPage, pageSize) {
    //   return [{
    //     image:'bg',
    //     width: pageSize.width,
    //     height: pageSize.height
    //   }]
    // },
    watermark: { text: clinicInfo.hosName, color: 'blue', opacity: 0.1, bold: true, italics: false },

    
    
    content: [
      // {
      //   image: 'logo',
      //   width: 100,
      //   height: 100
      // },
      {
        columns: [
          {
            image: 'logo',
            width: 65,
            height: 65
          },
          {
            text: [
              {text: clinicInfo.hosName + '\n', bold: false, fontSize: 14,margin: [0,0,0,0],},
              {text: clinicInfo.hosAddress + '\n' , fontSize: 14},
              {text: 'โทร: '  + clinicInfo.hosPhone + ', FB: ' + clinicInfo.faceBook + ', LineID: ' + clinicInfo.lineId, fontSize: 14},
               
            ],
            alignment: 'right',
            margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
          },
           
        ]

      },
      {
        text: 'ใบเสร็จรับเงิน',
        style: 'header',
        alignment: 'center',
        bold: true,
        // italics: true,
        fontSize: 20,
        margin: [0,10,0,10], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          {text: 'เลขที่ ', fontSize: 16},
          {text: receiptId + ' ', bold: true, fontSize: 16}, 
        ],
        alignment: 'right',
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          'วันที่ ' + dateStamp + '\n',
          ],
        style: ['quote', 'small'],
        bold: false,
        fontSize: 16,
        alignment: 'center',
        margin: [0,0,0,10], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          {text: 'ชื่อผู้มารับบริการ ' , fontSize: 16},
          {text: patientRegistInfo.identityData.firstName + ' ' , bold: true, fontSize: 16},
          {text: patientRegistInfo.identityData.lastName + ' ', bold: true, fontSize: 16},
          {text: 'เลขประจำตัวประชาชน ' , fontSize: 16},
          {text:  patientRegistInfo.identityData.cid + '\n' , bold: true, fontSize: 16},
        ],
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        text: [
          {text: 'ที่อยู่ ', fontSize: 16},
          {text: 
            document.getElementById("patient_address_treat").textContent + ' ', bold: true, fontSize: 16}, 
        ],
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },
      {
        style: 'tableExample',
        table: {
          headerRows: 1,
          widths: [30, '*', 60, 60, 60],
          body: [
            [
              {text: 'ลำดับ', style: 'tableHeader'},
              {text: 'รายการ', style: 'tableHeader'},
              {text: 'หน่วยละ(บาท)', style: 'tableHeader'},
              {text: 'จำนวน(หน่วย)', style: 'tableHeader'},
              {text: 'ราคา(บาท)', style: 'tableHeader'},
            ],

             // Data rows (dynamically generated from groupedArray)
            ...groupedArray.map((item, index) => [
              { text: index + 1, alignment: "right" },    // Column 1: Row Number
              { text: item[0] || "", alignment: "left" }, // Column 2: Item Description
              { text: item[1] || "", alignment: "right" }, // Column 3: Unit Price
              { text: item[2] || "", alignment: "right" }, // Column 4: Quantity
              { text: item[3] || "", alignment: "right" }, // Column 5: Total Price
            ]),
             
             
             
            [
              {
                colSpan: 5,
                border: [true, true, true, false],
                columns: [
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: 'รวมเป็นเงินทั้งสิ้น', bold: true, fontSize: 12, alignment: 'right'},
                  {text: formatMoney(payInfo.totalPrice) , bold: true, fontSize: 12, alignment: 'right'},
                  {text: 'บาท', bold: true, fontSize: 12, alignment: 'right'},
                ],
              },
            ],
            [
              {
                colSpan: 5,
                border: [true, false, true, true],
                columns: [
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: 'ส่วนลด', bold: true, fontSize: 12, alignment: 'right'},
                  {text: patientRegistInfo.priceDiscount , bold: true, fontSize: 12, alignment: 'right'},
                  {text: 'บาท', bold: true, fontSize: 12, alignment: 'right'},
                ],
              },
            ],
            [
              {
                colSpan: 5,
                border: [true, false, true, true],
                fillColor: '#cccccc',
                columns: [
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: ' ', alignment: 'right'},
                  {text: 'คงเหลือ', bold: true, fontSize: 14, alignment: 'right'}, 
                  {text: formatMoney(payInfo.totalPrice)  , bold: true, fontSize: 14, alignment: 'right'},
                  {text: 'บาท', bold: true, fontSize: 14, alignment: 'right'},
                ],
              },
            ],
          ]
        }
      },

      
      
       
       
 
      {
        text: [
          {text: 'รวมยอดที่ต้องชำระ ' , bold: true, fontSize: 18 },
          {text: formatMoney(payInfo.totalPrice), bold: true, fontSize: 18 },
          {text: ' บาท ' , bold: true, fontSize: 18 },
          {text: '(' + payInfo.totalStringPrice + ')', bold: true, fontSize: 18 },
        ],
        margin: [0,10,0,0], // [ซ้าย,บน,ขวา,ล่าง]
      },

      {
        columns: [
                  {text: 'ช่องทางการชำระเงิน', bold: true, fontSize: 14},
                  {text: 'QR Code สำหรับชำระเงิน', bold: true, fontSize: 14,alignment: 'right'},
        ],
        margin: [0,0,0,0], // [ซ้าย,บน,ขวา,ล่าง]

      },

      {
        columns: [
          {
            table: {
              headerRows: 1,
              widths: [30, 200],
              body: [
                [
                  {image: 'cash',width: 10,height: 10,alignment: 'center'  },
                  {text: 'เงินสด', italics: true}, 
                ],
                [
                  {image: 'promptpay',width: 10,height: 10,alignment: 'center'  },
                  {text: 'พร้อมเพย์', italics: true}, 
                ],
                [
                  {image: 'bank',width: 10,height: 10,alignment: 'center'  },
                  {text: 'โอนผ่านบัญชีธนาคาร', italics: true}, 
                ],
                [
                  {image: 'credit',width: 10,height: 10,alignment: 'center'  },
                  {text: 'บัตรเครดิต', italics: true}, 
                  
                ],
                
              ]
            }
          },
          
          { 
            image: clinicInfo.qrCodeReciept == '' ? 'logo' : 'qrcode'  ,width: 90,height: 90, alignment: 'center' 
          },
        ],
        
      },
      {
        columns: [
                  {text: 'ลงชื่อ..............................................ผู้มารับบริการ' + '\n' + patientRegistInfo.identityData.firstName + ' ' + patientRegistInfo.identityData.lastName, alignment: 'center' }, 
                  {text: 'ลงชื่อ..............................................ผู้รับเงิน' + '\n' + providerInfo.fullName + ' ' + providerInfo.license  , alignment: 'center' }, 
                  
                  
                   
        ],
        margin: [0, 60, 0, 0]
        
      },

       

      
      
      
       
    ],


    footer: function (currentPage, pageCount) {
      return {
        text: [
          {text: 'รหัสอ้างอิง ' + receiptId , },
          {text: ' วันที่พิมพ์: ' },
          {text:  dateStamp, },
          {text: 'เวลา ' + timeStamp + ' น.', },
          
        ],
        fontSize: 12,
        alignment: 'right',
        margin: [0,0,40,0], // [ซ้าย,บน,ขวา,ล่าง]
        
      };
    },

    defaultStyle:{
      font: "THSarabunNew",
    },
    styles: {
      tableHeader: {
        fillColor: '#cccccc',
        fontSize: 14,
        bold: true,
        alignment: 'center',
        margin: [0, 0, 0, 0]
      },
      textinput: {
        fontSize: 12,
        bold: false,
        italics: true, 
        color: 'gray', 
        // alignment: 'left, // *** ห้ามใส่ alignment มันจะขึ้น syntax error
        // decoration: 'underline',
        // decorationStyle:'dotted'
      },
      // numberinput: {
      //   fontSize: 12,
      //   bold: false,
      //   italics: true, 
      //   color: 'gray', 
      //   alignment: 'left,
      //   // decoration: 'underline',
      //   // decorationStyle:'dotted'
      // },
       
    }
  }

  // สั่งให้สร้าง pdf พร้อมกับ download
  pdfMake.createPdf(docDefinition).open()
  pdfMake.createPdf(docDefinition).download( fileName +'.pdf');
  // Specify the file name when calling the download method
  // pdfMake.createPdf(docDefinition).download('customFileName.pdf');

};


</script>
